---
export const partial = true;
---

<h2>Consigna - Modos de iluminación</h2>



<ul>
  <li>
    <strong>Link a la consigna:</strong><a
      href="https://docs.google.com/document/d/10RZ8BojzoWvt73oJf2moFlrvsSokVgLHVtcX81GjTRY/edit?usp=sharing"
      >Link</a
    >
  </li>
</ul>
