---
export const partial = true;
---

<p>
  ¿Qué? ¡Así es! Para el trabajo práctico final no les voy a dar una consigna,
  sino que me tienen que mostrar algunos de los temas vistos en la segunda parte
  de este avanzado (temas posteriores a <em>Pokédex</em>) aplicados en su
  proyecto.
</p>
<p>Tienen que hacer <strong>solo una</strong> de las siguientes opciones.</p>
<h2>Comunicación Serial</h2>
<p>
  Mostrar un caso de uso de comunicación serial en su proyecto. Algunas cosas
  que tienen que tener conceptualmente claras al momento de mostrarme el
  trabajo:
</p>
<ul>
  <li>Qué mensajes comunican y como es el formato para enviar información.</li>
  <li>Cuando envían mensajes (si aplica).</li>
  <li>
    Cómo reciben mensajes y como responden al mensaje recibido (si aplica).
  </li>
</ul>
<h2>Asincronismo</h2>
<p>
  Mostrar un caso de uso de
  <code class="language-javascript">async</code>/<code
    class="language-javascript"
    >await</code
  >
  u otra forma de asincronismo en su proyecto. Algunas cosas que tienen que
  tener conceptualmente claras al momento de mostrarme el trabajo:
</p>
<ul>
  <li>
    Donde está la <code class="language-javascript">Promise</code> o llamado
    asincrónico.
  </li>
  <li>Por qué creen que implica un llamado asincrónico.</li>
  <li>Por qué es importante que esperen/no esperen dicha promesa.</li>
</ul>
<h2>Funciones de alto orden</h2>
<p>
  Aplicar en su proyecto <code class="language-javascript">map</code>,
  <code class="language-javascript">filter</code> y/o
  <code class="language-javascript">reduce</code>. Mostrar el código sin usar
  estas funciones y mostrar el código usando estas funciones. Algunas cosas que
  tienen que tener conceptualmente claras al momento de mostrarme el trabajo:
</p>
<ul>
  <li>El tipo de parámetros que toman las funciones.</li>
  <li>El tipo de retorno de las funciones auxiliares.</li>
  <li>El retorno de las funciones de alto orden.</li>
</ul>
<h2>Nota</h2>
<p>
  Para obtener el 10, me tienen que mostrar el trabajo hecho personalmente y
  saber responder a las preguntas conceptuales que les hago sobre el tema
  elegido. Estás tienen que ver con los items que les pedí en cada consigna.
</p>
