---
export const partial = true;
---

<div>
  <div>
    <h2>UNIDAD 1</h2>
    <div>
      <span>Introducción a la Computación</span>
    </div>
  </div>
  <ul></ul>
</div>
<div>
  <div>
    <h2>UNIDAD 2</h2>
    <div>
      <span>Representación y Procesamiento de Datos</span>
    </div>
  </div>
  <ul></ul>
</div>
<div>
  <div>
    <h2>UNIDAD 3</h2>
    <div>
      <span>Arquitectura y Componentes de la Computadora</span>
    </div>
  </div>
  <ul></ul>
</div>
<div>
  <div>
    <h2>UNIDAD 4</h2>
    <div>
      <span
        >Conceptos Básicos de Electrónica y Funcionamiento de la Electricidad</span
      >
    </div>
  </div>
  <ul></ul>
</div>
<div>
  <div>
    <h2>UNIDAD 5</h2>
    <div>
      <span>Introducción a Arduino</span>
    </div>
  </div>
  <ul></ul>
</div>
<div>
  <div>
    <h2>UNIDAD 6</h2>
    <div>
      <span>Técnicas digitales</span>
    </div>
  </div>
  <ul></ul>
</div>
