---
export const partial = true;
---

<div>
  <div>
    <h2>UNIDAD 1</h2>
    <div>
      <span>Introducción a la Computación</span>
    </div>
  </div>
  <ul>
    <li>
      <strong>Conceptos fundamentales:</strong> Sistema informático, computadora,
      datos e información. Transistor.
    </li>
    <li>
      <strong>Evolución de las computadoras:</strong> Generaciones y sus características.
    </li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 2</h2>
    <div>
      <span>Representación y Procesamiento de Datos</span>
    </div>
  </div>
  <ul>
    <li>
      <strong>Sistemas de numeración:</strong> Decimal, binario y hexadecimal.
    </li>
    <li>Conversiones entre sistemas numéricos.</li>
    <li>
      <strong>Procesamiento de datos:</strong> Relación entre hardware y software.
    </li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 3</h2>
    <div>
      <span>Arquitectura y Componentes de la Computadora</span>
    </div>
  </div>
  <ul>
    <li>Definición y clasificación del hardware.</li>
    <li>Arquitectura de Von Neumann.</li>
    <li>CPU y memoria principal.</li>
    <li>Memoria RAM, caché y reloj del sistema.</li>
    <li>Placa madre y sus componentes.</li>
    <li>Buses y comunicación entre componentes.</li>
    <li>
      <strong>Dispositivos y Unidades de Almacenamiento Secundario:</strong><ul>
        <li>
          <strong>Tipos de almacenamiento:</strong> Magnético, sólido y óptico.
        </li>
        <li>
          <strong>Unidades de almacenamiento secundario: </strong>Discos duros
          (HDD), unidades de estado sólido (SSD), memorias USB, tarjetas de
          memoria y discos ópticos (CD, DVD, Blu-ray).
        </li>
        <li>Organización de datos en dispositivos de almacenamiento.</li>
        <li>Medición del desempeño del almacenamiento.</li>
      </ul>
    </li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 4</h2>
    <div>
      <span
        >Conceptos Básicos de Electrónica y Funcionamiento de la Electricidad</span
      >
    </div>
  </div>
  <ul>
    <li>
      <strong>¿Qué es la electricidad?</strong>
      <ul>
        <li>Propiedades fundamentales de los electrones y su movimiento.</li>
        <li>Concepto de carga eléctrica, corriente eléctrica y voltaje.</li>
        <li>
          Generación de electricidad: Fuentes primarias (baterías, generadores,
          etc.) y cómo se produce la corriente continua y alterna.
        </li>
      </ul>
    </li>
    <strong>
      <li>Instrumental de medición y simulación.</li>
    </strong>
    <li>
      <strong>Ley de Ohm y Potencia</strong><ul>
        <li>Relación entre tensión, corriente, resistencia y potencia.</li>
        <li>
          Ejemplos prácticos de la ley de Ohm aplicada a circuitos sencillos.
        </li>
      </ul>
    </li>
    <li><strong>Soldadura de PCB.</strong></li>
    <li><strong>Hojas de datos</strong>, información técnica.</li>
    <li>
      <strong>Circuitos básicos y resolución de circuitos:</strong>
      <ul>
        <li>Circuito serie y paralelo.</li>
        <li>
          Ejercicios prácticos de resolución de circuitos con resistores y LEDs.
        </li>
      </ul>
    </li>
    <li>
      <strong>Corriente continua y alterna:</strong>
      <ul>
        <li>
          Diferencias entre corriente continua (DC) y corriente alterna (AC).
        </li>
        <li>
          Aplicaciones de corriente alterna en sistemas eléctricos y
          distribución de energía.
        </li>
        <li>
          Características de la onda senoidal y cómo se mide la corriente
          alterna.
        </li>
      </ul>
    </li>
    <li>
      <strong
        >Componentes electrónicos utilizados como interfaz de salida:</strong
      >
      <ul>
        <li>
          Resistor, relay, diodo, transistor: Función y aplicaciones en la
          interfase de salida de circuitos electrónicos. Motores y Puente H.
        </li>
        <li>Ejemplos de circuitos que emplean estos componentes.</li>
      </ul>
    </li>
    <li>
      <strong>Medidas de seguridad eléctrica:</strong>
      <ul>
        <li>
          Precauciones al trabajar con circuitos eléctricos y electrónicos.
        </li>
        <li>
          Funcionamiento y formas de uso de fusibles, llave térmica, llave
          diferencial y puesta a tierra.
        </li>
        <li>
          Uso adecuado de elementos de protección personal (guantes, gafas,
          etc.).
        </li>
        <li>Normas básicas de seguridad en el manejo de electricidad.</li>
      </ul>
    </li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 5</h2>
    <div>
      <span>Introducción a Arduino</span>
    </div>
  </div>
  <ul>
    <li>¿Qué es un Arduino? Historia, modelos y usos principales.</li>
    <li>
      Descripción de la placa: Microcontrolador, pines de entrada/salida,
      alimentación y comunicación.
    </li>
    <li>Dispositivos de entrada y salida: Digitales y analógicos.</li>
    <li>Tipos de entradas: Numéricas, alfabéticas, de estado (on/off).</li>
    <li>
      Programación básica en Arduino: Configuración de entradas y salidas,
      estructura de un programa. Utilización de componentes electrónicos.
      Comunicación serial, puerto serie y monitor serie. Uso de estructuras if,
      for, while y funciones.
    </li>
    <li>Simulación de circuitos.</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 6</h2>
    <div>
      <span>Técnicas digitales</span>
    </div>
  </div>
  <ul>
    <li>
      Compuertas lógicas, tablas de estado, funciones, circutos lógicos,
      semisumadores, sumadores completos, números signados en Signo y Magnitud y
      complemento a la base.
    </li>
  </ul>
</div>
