---
import InlineCodeBlock from "../../../../components/articles/code-block/InlineCodeBlock.astro";

export const partial = true;
---

<h2>Consigna Base</h2>
<p>
  Estamos a cargo de planificar las fechas del campeonato de basquet
  norteamericano (NBA) y queremos crear un programa que nos facilite armar las
  siguientes fechas. La idea es poder elegir dos equipos que juegan en la
  siguiente fecha, y que se vayan listando los matchups que vamos armando.
</p>
<p>
  Para esto, ya contamos con dos
  <InlineCodeBlock lang="html" code="<select>" /> para elegir entre equipos, un botón
  para programar la fecha y un
  <InlineCodeBlock lang="html" code="<div>" /> para poner las fechas. Los
  <em>id</em> de los
  <InlineCodeBlock lang="html" code="<select>" /> son <em>"equipo1"</em> y
  <em>"equipo2"</em> respectivamente, el botón para programar la fecha tiene
  <InlineCodeBlock lang="html" code='<div id="boton">' /> y el div donde poner las
  fechas tiene <InlineCodeBlock lang="html" code='<div id="fechas">' /> .
</p>
<p>
  Crear un programa que al hacer click en "programar fecha" agregue una fecha
  entre los dos equipos seleccionados. Esta debe ser en forma de un
  <InlineCodeBlock lang="html" code="<div>" />. Algunas ayudas:
</p>
<ul>
  <li>
    Los equipos los pueden sacar del atributo
    <em>value</em> de los select, de ids
    <em>"equipo1"</em> y <em>"equipo2"</em> respectivamente.
  </li>
  <li>
    Pueden crear un div nuevo con
    <InlineCodeBlock lang="javascript" code='document.createElement("div")' />.
  </li>
  <li>
    Para agregarle texto a un div, pueden modificar el atributo
    <em>textContent</em>.
  </li>
  <li>
    Para agregar el <InlineCodeBlock lang="html" code="<div>" /> creado a las fechas
    sin borrar las anteriores, pueden usar la función
    <em>appendChild</em> del div fechas. Se usa de la forma
    <InlineCodeBlock
      lang="javascript"
      code="<divFechas>.appendChild(<fechaNueva>)"
    />. Cuando uso &ltalgo&gt no es código Javascript, no pueden copiar y pegar
    y chau. Es una forma de decir "como sea que esté ese elemento referenciado
    en su programa", ya sea en una variable, objeto, etc. Pueden googlear
    <em>appendChild</em> si tienen dudas, es algo estándar del lenguaje, no es algo
    mío.
  </li>
</ul>
<h2>Consigna Manija</h2>
<p>
  Hacer que al agregar la fecha no solo sea los nombres de los equipos, sino
  también los logos de dichos equipos. Algunas ayudas:
</p>
<ul>
  <li>
    Está la función
    <InlineCodeBlock
      lang="javascript"
      code="obtenerLogoEquipo(<nombre_equipo>)"
    />que dado el nombre de un equipo, devuelve el path (donde está el archivo)
    del logo. Esto se puede usar de forma directa como atributo
    <em>src</em> de un tag
    <InlineCodeBlock lang="html" code="<img>" />
  </li>
  <li>
    Para armar algo medianamente prolijo, les sugiero inspirarse en como hago
    los selectores. Es una combinación de divs que se muestran como flex.
  </li>
  <li>
    Es probable que tengan que hacer varios elementos html, o aprovechar el
    atributo <em>innerHTML</em> (Googleen).
  </li>
  <li>
    También es probable que tengan que agregar css apropiado. Lo más fácil es
    aprovechar la idea de clases en css.
  </li>
</ul>
