---
export const partial = true;
---

<h2>Origen y motivación</h2>
<p>
  Trabajar con clases trae nuevos desafíos y nuevas formas de modelar problemas.
  En particular, hay problemas conocidos con modelos de soluciones, y es acá
  donde los patrones de diseño entran en juego. Los patrones de diseño son
  soluciones reutilizables a problemas comunes en el desarrollo de software, y
  pueden ayudar a estructurar y organizar el código de manera más eficiente.
</p>
<p>
  Esta sección es un extracto y resumen del texto sagrado de la programación
  orientada a objetos: <a
    class="italic"
    href="https://www.digitalocean.com/community/tutorials/gangs-of-four-gof-design-patterns"
    >Design Patterns: Elements of Reusable Object-Oriented Software</a
  >
</p>

<h2>Herencia</h2>
<h2>Polimorfismo</h2>
<h2>Clases abstractas</h2>
