---
import ImportantBox from "../../../../../components/articles/alertbox/ImportantBox.astro";
---

<h2>¿Tu nota final es mayor o igual a 6?</h2>
<p>¡Listo! Feliz vida. Nada de este artículo va a ser relevante para vos.</p>
<h2>¿Tu nota final es menor a 6?</h2>
<p>
  Eso quiere decir que nos vamos a seguir viendo durante diciembre. ¿Qué implica
  diciembre en esta materia? <em>Depende</em>. En particular, depende de cuantas
  unidades desaprobaste durante el año. ¿Cómo se que unidades me llevé? Seguí
  leyendo.
</p>
<ImportantBox>
  <p>
    La instancia de diciembre es <strong>individual</strong>. No se mantienen
    los grupos ni se pueden formar nuevos.
  </p>
</ImportantBox>
<h2>Criterios de aprobación por unidad</h2>
<h3>Unidad 1</h3>
<p>
  Haber aprobado la Chiqui League, Brasileirao, o cualquier otro recuperatorio
  que recupere la Chiqui League.
</p>
<h3>Unidad 2</h3>
<p>
  Haber aprobado el Canal de Panamá, Factorización, o cualquier otro
  recuperatorio que recupere el Canal de Panamá.
</p>
<h3>Unidad 3</h3>
<p>
  Haber aprobado el TP de alcoholemia, o cualquier otro recuperatorio que
  recupere el TP de alcoholemia.
</p>
<h3>Unidad 4</h3>
<p>
  Haber hecho 1 de las siguientes 3 actividades de clase: Jesús de Laferrere,
  Harry Potter y la Programación Orientada o Objetos y Pokémon
</p>
<h2>Me llevé 0 unidades</h2>
<p>
  Aprobaste todas las unidades, pero no te da el promedio. Eso quiere decir que
  hiciste muy poquitas de las actividades en clase. Hablá conmigo y te digo cuál
  hacer de las faltantes y me las mostrás en diciembre (con una breve defensa
  oral).
</p>
<h2>Me llevé 1 unidad</h2>
<p>
  Si te llevaste una sóla unidad, podés optar por <strong>una</strong> de las siguientes
  opciones
</p>
<ol>
  <li>
    Hacé el TP o actividad correspondiente o esa unidad y defendela oralmente.
  </li>
  <li>Hacé la prueba escrita de la unidad (explicado al final)</li>
</ol>
<h2>Me llevé 2 o más unidades</h2>
<p>
  Ya no se pueden reentregar TPs. Toca hacer una prueba escrita, que voy a
  explicar al final. Tienen que rendir sólo las partes de las unidades que se
  llevaron.
</p>
<h2>Prueba escrita</h2>
<p>
  La prueba escrita es <strong>teórico/práctica</strong>, es decir, incluyen
  tanto contenidos teóricos como código python/javascript. No les voy a hacer
  desarrollar programas, a lo sumo tienen que analizar código o escribir una
  breve línea de código, no pretendo que programen en papel.
</p>
<p>
  La prueba va a estar subdividida en partes correspondientes a cada unidad. Va
  a incluir tanto preguntas de opción múltiple como preguntas de desarrollo. Si
  hacés la prueba, solo vas a rendir únicamente las partes correspondientes a
  las unidades que no aprobaste durante el año.
</p>
<p>
  La prueba va a evaluar exclusivamente los <strong>
    temas vistos en las clases teóricas y prácticas
  </strong>. No hay bibliografía fuera de los apuntes subidos al campus y los
  trabajos en clase. Para estudiar, recomiendo repasar los apuntes
  correspondientes y las actividades de clase (no hacen falta TPs)
  correspondientes.
</p>
<p>
  La fecha de prueba la vamos a determinar presencialmente el viernes 12/12 por
  la mañana, para ser tomada la semana siguiente. Se aprueba teniendo la mitad o
  más de los puntos de la prueba.
</p>
<ImportantBox warning="Atención">
  <p>
    Incluí una prueba modelo en el campus, para que vean el formato y el tipo de
    preguntas que van a tener.
  </p>
</ImportantBox>
