---
export const partial = true;
---

<p>
  ¿Qué puedo incluir en la presentación de proyecto? En esta publicación les voy
  a dejar unas sugerencias.
</p>
<p>
  <strong>IMPORTANTE:</strong> no tienen que seguir esta guía a rajatabla. Al final
  del día, lo esencial es que expliquen y defiendan lo que hicieron.
</p>
<p>
  De los siguientes items, no es necesario que incluyan todos, al contrario.
  Elijan los que son más relevantes para su proyecto
</p>
<ul>
  <li>
    Es fundamental que hablen de problemas que tuvieron durante el desarrollo y
    cómo los resolvieron. Pueden ser problemas técnicos, como alguna parte de la
    funcionalidad que les costó resolver, o humano, como problemas en acuerdos,
    etc.
  </li>
  <li>
    Está <strong>muy desaconsejado</strong> poner código. No se va a entender, y
    en una presentación tan general termina siendo demasiado específico. Si necesitan
    mostrar algo de funcionalidad, usen diagramas.
  </li>
  <li>
    Muestren la arquitectura de la aplicación, concéntrandose en el back. Cuales
    son los puntos de entrada y salida (los mensajes entre back y front por
    soquetic, comunicación serial con un arduino, otros), cuáles son sus partes
    y como es el flujo de la aplicación. Traten de usar diagramas, si lo dicen
    en el aire nadie los va a seguir. Además, resuman.
  </li>
  <!-- Mensajes parecidos y
    flujos parecidos, diganlos una vez, no muestren varias veces el camino de
    cosas súper parecidas. -->
  <li>
    Mencionen las herramientas externas que usaron. Si usaron las comunes como
    Node o SoqueTIC simplemente menciónenlas, pero se usaron algo distinto
    (Phaser, Soquet.IO, Express, otras) que no son las más comunes, expliquen
    brevemente que son y para que las usaron.
  </li>
  <li>
    Traten de no ser redundantes. Si hay mensajes o flujos de información que
    son parecidos, muestren uno y mencionen otro. No repitan varias veces
    información muy similar.
  </li>
  <li>
    <strong>¡No le tengan miedo a las diapositivas!</strong> Tener muchas diapositivas
    no es malo, más si incluyen gráficos o diagramas. Tener más diapositivas cortas
    los ordena, y hace que información se transmita visualmente. Muchas veces ponen
    una diapositiva y se quedan hablando un montón de tiempo encima, divagando...
  </li>
  <li>
    Ya lo puse antes pero <strong>GRÁFICOS GRÁFICOS Y GRÁFICOS</strong>. Es
    imposible para un externo entender cosas del programa solo con hablar.
    Apoyen lo que dicen con diagramas que muestran visualmente lo que hace su
    programa.
  </li>
</ul>
<p>
  Consultenme cualquier cosa, y no se olviden de mostrarme el proyecto y lo que
  van a presentar <strong>ANTES</strong> de presentar.
</p>
