---
import CodeBlock from "../../../../../../components/articles/code-block/CodeBlock.astro";
import InlineCodeBlock from "../../../../../../components/articles/code-block/InlineCodeBlock.astro";

export const partial = true;
---

<p>(Actualizado para SoqueTIC v1.4.1 <em>Taguató</em>)</p>
<p>
  ¿Voy a hacer un apunte acá? No. Porque ya lo hice en la cheatsheet. Vayan ahí.
  Lo escribí yo, y lo mantengo para que esté al día
</p>
<p>
  <a
    class="hover:underline"
    href="https://cheatsheets-nv.vercel.app/cheatsheet/soquetic"
    >Cheatsheet de SoqueTIC</a
  >
</p>
