---
export const partial = true;
---

<h2>Consigna</h2>
<p>
  En el mismo grupo que la parte I y II, construir el DLR para alguno de los
  DERs de otro grupo. Tiene que ser un DER de un cliente <strong
    >distinto</strong
  > al que hicieron el DER.
</p>
<a
  href="https://drive.google.com/drive/folders/1necAkhpJzfC9NLfTqRdO665pQLq4AXha?usp=sharing"
  >Carpeta de DERs</a
>
