---
export const partial = true;
---

<p>
  Júntense en grupos de 3 o 4 personas. Cada uno haga su top 5 de aplicaciones
  más usadas en el celular. Elijan una entre todo el grupo. Cuando tengan la
  aplicación elegida, respondan las siguientes preguntas, registrando en un
  word/docs/notepad u otro archivo de texto las respuestas. La idea es después
  poner en común las respuestas.
</p>
<ol>
  <li>
    ¿Qué es un dato? ¿Qué son datos de la aplicación que eligieron? Dar ejemplos
    de datos que creen que guarda la aplicación elegida.
  </li>
  <li>
    ¿Dónde creen que están guardados esos datos? ¿De qué forma? ¿Creen que haya
    redundancia, es decir, copias de esos datos?
  </li>
  <li>¿Por qué la aplicación guarda datos? ¿Para qué creen que los usa?</li>
  <li>
    ¿Se intercambian datos? ¿Qué medios creen que se usan para intercambiar
    datos?
  </li>
  <li>
    (Pregunta manija, no es obligatorio responder): Dados los datos que creen
    que guarda la aplicación, ¿qué preguntas se pueden hacer/responder sobre
    esos datos? Por ejemplo, si yo guardo información sobre las compras de cada
    usuario, puedo responder a la pregunta de cuánta plata gasta cada usuario en
    promedio, cual es el producto más vendido, etc.
  </li>
</ol>
<p>Cuando terminen de responder, avísenle al profe.</p>
