---
export const partial = true;
---

<h2>Introducción</h2>
<p>
  Marzo, época de Lollapallooza. ¿Fueron? Sin embargo, hay otro festival en esta
  época, el Musmanno Rock Festival:
  <a href="https://www.youtube.com/watch?v=PwUiwtrIbgQ"
    >https://www.youtube.com/watch?v=PwUiwtrIbgQ</a
  >.
</p>
<h2>Consigna</h2>
<p>Para modelar el festival, tenemos el siguiente DLR:</p>
<img
  :src="$store.pageData.publicURL('img/bdd/mangueras.png')"
  alt=""
  class="my-2"
/>
<ol>
  <li>Armen la BDD usando Neon y pgAdmin.</li>
  <li>
    Incluyan los datos que quieran del festival. En particular, los datos tienen
    que incluir:
    <ol>
      <li>2 o más escenarios.</li>
      <li>2 o más bandas.</li>
      <li>
        2 bandas que toquen en el mismo escenario, pero en distintos días y/o
        horarios.
      </li>
      <li>Una banda que tenga 2 o más integrantes.</li>
      <li>Un integrante que pertenezca a más de una banda.</li>
      <li>Un integrante que cumpla distintos roles en la misma banda.</li>
    </ol>
  </li>
  <li>Mostrarme la BDD.</li>
  <li>Hagan un screenshot del DLR autogenerado y entregar.</li>
</ol>
