---
const { warning } = Astro.props;
---

<div
  class="flex flex-col items-center gap-y-3 p-4 my-2 bg-sh-light-red rounded-2xl border-2 border-sh-red text-sh-dark-gray"
>
  <div class="flex flex-col md:flex-row items-center w-full gap-y-2 lg:gap-x-2">
    <span
      class="!hidden md:!block !text-[36px] material-symbols-outlined text-sh-red"
      >priority_high</span
    >
    <h2 class="uppercase text-[30px] md:text-[36px] font-bold">
      {warning ? warning : "importante"}
    </h2>
  </div>
  <div>
    <slot />
  </div>
</div>
