---
export const partial = true;
---

<h2>Trabajo Práctico U3: Armado de un Puesto de Trabajo</h2>

<ol>
  <li>
    Link a la <a
      href="https://drive.google.com/file/d/1z9y_ND0KKFDr0ZmT4UOIfPPegjZ2akmu/view?usp=drivesdk"
      >consigna</a
    >.
  </li>
  <li>
    Link al <a
      href="https://docs.google.com/spreadsheets/d/1NXHGy6D8AbcRKjxmApZS4gjvVTQEFmpo/edit?usp=drivesdk&ouid=104685244779592446557&rtpof=true&sd=true"
      >Excel/GoogleSHeets</a
    >.
  </li>
  <br />
</ol>

<hr/>

<h4>
  Compartir el link del Excel/Google Sheets con el docente para que pueda
  corregirlo.
</h4>
<ul>
  <li><strong>Grupos 1 y 4:</strong> sofia.iglesias@ort.edu.ar</li>
  <li><strong>Grupos 2 y 3:</strong> dario.mischener@ort.edu.ar</li>
</ul>

<hr />

<h3>Cronograma de Clases y Exposiciones</h3>
<p>
  <em
    >Nota: El cronograma detallado a continuación aplica para los grupos 1 y 4.
    Las fechas de los grupos 2 y 3 se comunicarán posteriormente.</em
  >
</p>

<h4><strong>Grupo 1</strong></h4>
<ul>
  <li><strong>Martes 28/4:</strong> Clase</li>
  <li><strong>Miércoles 29/4:</strong> Clase</li>
  <li><strong>Martes 5/5 (Exposición):</strong> 1° A definir | 2° A definir</li>
  <li>
    <strong>Miércoles 6/5 (Exposición):</strong> 3° Ing. Sonido | 4° A definir
  </li>
  <li>
    <strong>Martes 12/5 (Exposición):</strong> 5° Analista de Datos | 6° Gamer
  </li>
</ul>

<h4><strong>Grupo 2</strong></h4>
<ul>
  <li><strong>A definir</strong></li>
</ul>

<h4><strong>Grupo 3</strong></h4>
<ul>
  <li><strong>A definir</strong></li>
</ul>

<h4><strong>Grupo 4</strong></h4>
<ul>
  <li><strong>Lunes 27/4:</strong> Clase</li>
  <li><strong>Miércoles 29/4:</strong> Clase</li>
  <li><strong>Lunes 4/5 (Exposición):</strong> 1° Oficinista | 2° Gamer</li>
  <li>
    <strong>Miércoles 6/5 (Exposición):</strong> 3° Ing. Sonido | 4° Fotógrafo
  </li>
  <li><strong>Lunes 11/5 (Exposición):</strong> 5° Analista | 6° Arquitecto</li>
</ul>
