---
export const partial = true;
---

<h2>
  Trabajo Práctico U3: Armado de un Puesto de Trabajo more_vert event_busy
</h2>
<h3>
  Conversiones entre sistemas de numeración decimal, binario y hexadecimal
</h3>

<ol>
  <li>
    Link a la <a
      href="https://drive.google.com/file/d/1z9y_ND0KKFDr0ZmT4UOIfPPegjZ2akmu/view?usp=drivesdk"
      >consigna</a
    >.
  </li>
  <li>
    Link al <a
      href="https://docs.google.com/spreadsheets/d/1NXHGy6D8AbcRKjxmApZS4gjvVTQEFmpo/edit?usp=drivesdk&ouid=104685244779592446557&rtpof=true&sd=true"
      >Excel/GoogleSHeets</a
    >.
  </li>
</ol>
