---
import Home from "../../components/sections/home/Home.astro";
import Activities from "../../components/sections/activities/Activities.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
import Redos from "../../components/sections/redo/Redos.astro";
import Program from "../../components/sections/program/Program.astro";
import Material from "../../components/sections/material/Material.astro";
import Navbar from "../../components/navbar/Navbar.astro";

export function getStaticPaths() {
  return [
    { params: { subject: "Tecnologías de la Información" } },
    { params: { subject: "Desarrollo de Aplicaciones Informáticas" } },
  ];
}

const { subject } = Astro.params;
---

<Layout>
  <Navbar />
  <main
    class="relative grow bg-gray-50 border border-gray-300 rounded-xl overflow-hidden"
  >
    <Home />
    <Activities />
    <Redos />
    <Program />
    <Material subject={subject} />
  </main>
</Layout>
