---
export const partial = true;
---

<h2>Consigna Base</h2>
<p>
  La pizzería bajo belgrano cuenta con muchos combos, y van variando mes a mes.
  Como programadores de su página web, nos interesa no tener que escribir todas
  las opciones de combo a mano, si no hacerlo de forma automática por JS.
</p>
<p>
  De los combos, no nos interesa nada más que su número. Para empezar, podemos
  determinar que son 8 combos. Lo dejamos fijo, pero para cuando aprendamos a
  buscar información desde datos va a reemplazar este número.
</p>
<p>
  Completar el programa para usando
  <code class="language-javascript">while</code>, el
  <code class="language-html">&ltselect id = "combos"&gt</code> se pueble con 8
  <code class="language-html">&ltoption&gt</code>. Al hacer click en el botón de
  <code class="language-html">id = "button"</code> se debe mostrar el combo elegido
  en
  <code class="language-html">&ltdiv id = "elegido"&gt</code>
</p>
<h2>Consigna Manija</h2>
<p>(Pendiente)</p>
