---
export const partial = true;
---

<p>
  Para completar la calificación del trabajo práctico <em>“La Chiqui League”</em
  > tienen que defender su TP en una de las siguientes instancias:
</p>
<ul>
  <li>
    <strong>Examen Oral:</strong> Se presentan junto a otros miembros de su grupo
    que también hayan elegido la instancia oral en una fecha a determinar. Les voy
    a hacer preguntas del TP que hicieron, relacionada a decisiones tomadas y como
    está estructurado. Las preguntas se las voy a hacer individualmente, y deben
    responder bien para considerar el tp defendido.
  </li>
  <li>
    <strong>Examen Escrito:</strong> Examen individual, en donde yo les imprimo una
    copia de su tp y les hago preguntas relacionadas a decisiones tomadas y como
    está estructurado. No pueden usar el celular ni pc ni otros dispositivos electrónicos,
    pero pueden traer impresos los apuntes que quieran, siempre y cuando me los muestren
    en la fecha del examen (no voy a censurar nada, solo quiero ver lo que tienen).
  </li>
</ul><p>
  En ambos casos, la nota corresponde a la nota del tp tal cual estaba detallada
  en la consigna, ósea, 6 más los extras que hayan hecho. En caso de no
  presentarse a ninguna instancia, la nota correspondiente es 1.
</p><p>
  Para inscribirse a alguna de las 2 instancias, completar el siguiente
  formulario. <strong>
    Para poder inscribirse, deben estar en el repositorio y además tienen que
    haber entregado el hash del commit.
  </strong> Las fechas las voy a determinar en base a sus inscripciones.
</p>
<p>
  <a
    href="https://docs.google.com/forms/d/e/1FAIpQLSd6zlt4eEMIrSdN47AIowBLP5ouC2rD3-E_Le7BfWjjq_d17Q/viewform?usp=dialog"
    target="_blank"
    class="text-sh-blue">Formulario</a
  >
</p>
