---
export const partial = true;
---

<h2>Introducción</h2>
<p>
  Antes de arrancar, unas escenas de esperando la carroza, película que destila
  argentinidad:
</p>
<ul>
  <li>
    3 empanadas:
    <a href="https://www.youtube.com/watch?v=AVr5m5EtECw"
      >https://www.youtube.com/watch?v=AVr5m5EtECw</a
    >
  </li>
  <li>
    Yo hago ravioles, ella hace ravioles:
    <a href="https://www.youtube.com/watch?v=7nm2V8zEbaQ"
      >https://www.youtube.com/watch?v=7nm2V8zEbaQ</a
    >
  </li>
</ul>
<h2>Consigna</h2>
<h3>Parte I</h3>
<p>
  Estamos a cargo de la boletería del cine Gaumont. Se están dando funciones
  para 3 películas, que cuestan distintos valores las entradas:
</p>
<ul>
  <li>Relatos Salvajes (<em>600p</em>)</li>
  <li>Esperando la Carroza (<em>400p</em>)</li>
  <li>El secreto de sus ojos (<em>500p</em>)</li>
</ul>
<p>
  Ya se lo que están pensando.
  <em>&quot;Shulian los precios son muy baratos&quot;</em>. Sin embargo,
  <em>&quot;p&quot;</em> no es pesos argentinos, sino <em>Patacones</em>, una
  moneda 100% ficticia y que no es en absoluto una pseudomoneda emitida por la
  provincia de buenos aires en el año 2001.
</p>
<p>
  En fin, la consigna. Crear un programa que vaya registrando las distintas
  entradas vendidas, hasta indicar el cierre de la boletería, en donde se debe
  detallar las entradas vendidas por película y el total recaudado.
</p>
<p>
  Ya cuentan con un pequeño código de inicio en sus repositorios, en particular,
  una forma de colgar el programa pidiendo opciones hasta cerrar la boletería.
  Pueden borrarla y empezar de 0, o aprovecharla.
</p>
<p>Hagan un commit con esta primera versión.</p>
<h3>Parte II</h3>
<p>
  Se suma una 4ta película, <em>Un cuento chino</em>, a <em>300p</em> la entrada.
  Modificar el programa para tener en cuenta esta adición. ¿Tuvieron que cambiar
  mucho a su programa? ¿Si se agregásen más películas seguido, cambiarían aún más
  el programa? Hagan un commit con esta segunda versión.
</p>
<h3>Parte III</h3>
<p>
  <strong
    >Para discutir grupalmente, pero pueden ir pensando una solución. No tienen
    que escribir código, lo vamos a hacer todos juntos.</strong
  >
</p>
<p>
  A razón de un festival, la boletería no sabe previamente que películas va a
  haber en cartelera. Modificar el programa para que permita ingresar el título
  de cualquier película mas que elegir entre un set de opciones.
</p>
