---
import CodeBlock from "../../../../components/articles/code-block/CodeBlock.astro";
import InlineCodeBlock from "../../../../components/articles/code-block/InlineCodeBlock.astro";

export const partial = true;
---

<h2>Introducción</h2>
<p>
  Para entender el contexto del ejercicio, pueden mirar el siguiente video:
  <a href="https://www.youtube.com/watch?v=05Iw0zqeSmM"
    >https://www.youtube.com/watch?v=05Iw0zqeSmM</a
  >
</p>
<h2>Consigna</h2>
<h3>Rollinga</h3>
<p>
  Crear una clase <InlineCodeBlock lang="python" code="Rollinga" />
  (en el archivo
  <em>rollinga.py</em>) que:
</p>
<ul>
  <li>
    Se inicialice con un nombre pasado por parámetro, 0 de felicidad, 0 de
    birras, 0 de panchos y tiene flequillo
  </li>
  <li>
    Tenga un método <em>tomar_birras</em> que toma un parámetro (cantidad de birras)
    y consuma esa cantidad de birras. Si el rollinga quiere consumir más birras de
    las que tiene, consume todas las que tenga. Aumenta en 1 su felicidad por birra
    consumida.
  </li>
  <li>
    Tenga un método <em>comer_pancho</em> que toma un parámetro (cantidad de panchos)
    y consuma esa cantidad de panchos. Si el rollinga quiere consumir más panchos
    de los que tiene, consume todos los que tenga. Aumenta en 2 su felicidad por
    pancho consumido.
  </li>
  <li>
    Tenga un método <em>corta_flequillo</em> (sin parámetros) que corte el flequillo
  </li>
  <li>
    Tenga un método <em>crece_flequillo</em> (sin parámetros) que reponga el flequillo
    del rollinga.
  </li>
  <li>
    Si el rollinga no tiene flequillo, no puede ni tomar birras ni comer panchos
    porque la vida dejó de tener sentido.
  </li>
</ul>
<p>Verifiquar que la implementación funciona corriendo el archivo de tests</p>
<CodeBlock code={`python -m pytest test_rollinga.py`} lang="bash" />
<h2>Consigna Manija</h2>
<h3>Jesús</h3>
<p>
  Jesús provee a sus discípulos. Para eso, hacer una clase <InlineCodeBlock
    lang="python"
    code="Jesus"
  />
  (en el archivo <em>jesus.py</em>) que:
</p>
<ul>
  <li>Se inicialice sin discípulos</li>
  <li>
    Tenga un método <em>adoptar_rollinga</em> que tome como parámetro un objeto de
    la clase <InlineCodeBlock lang="python" code="Rollinga" /> y lo adopte como discípulo.
  </li>
  <li>
    Tenga un método <em>hacer_birras</em> que le de <strong>una</strong> birra a
    cada uno de sus discípulos.
  </li>
  <li>
    Tenga un método <em>hacer_panchos</em> que le de <strong>un</strong> pancho a
    cada uno de sus discípulos.
  </li>
  <li>
    Tenga un método <em>reestablecer_flequillos</em> que recupera los flequillos
    de todos sus discípulos.
  </li>
  <li>
    Tenga un método <em>milagro_rollinga</em> que hace que los rollingas discípulos
    tomen todas las birras y coman todos los panchos que tengan.
  </li>
  <li>
    Tenga un método <em>felicidad_total</em> que devuelve la felicidad total de todos
    sus discípulos.
  </li>
</ul>
<p>Verifiquar que la implementación funciona corriendo el archivo de tests</p>
<CodeBlock code={`python -m pytest test_jesus.py`} lang="bash" />
