---
import InlineCodeBlock from "../../../../components/articles/code-block/InlineCodeBlock.astro";

export const partial = true;
---

<p>
  Queremos armar un programa para programar las fechas de la NBA. Contamos con
  CSS, HTML, datos e imágenes, pero no está andando nada. Nos toca hacer el
  código JS restante.
</p>
<p>
  <strong>PARA NINGUNO DE LOS PUNTOS HAY QUE EDITAR EL HTML</strong> Solo el archivo
  <em>main.js</em>, y si tienen ganas, <em>style.css</em> para que se vea lindo.
</p>
<h2>Punto 1</h2>
<p>
  Llenar ambos <InlineCodeBlock lang="html" code={`<select>`} /> con etiquetas
  <InlineCodeBlock lang="html" code={`<option>`} /> como equipos hay en el array
  <InlineCodeBlock lang="javascript" code={`const equipos`} /> de main.js. Haganlo
  mediante código, no editando el html.
</p>
<h2>Punto 2</h2>
<p>
  Hacer que al cambiar (evento <em>change</em>) el
  <InlineCodeBlock lang="html" code={`<select>`} />, se ponga la imagen del
  equipo apropiada. Hacerlo para ambos select. <strong>TIP</strong>: Alcanza con
  cambiar el atributo
  <em>src</em> de las imágenes.
</p>
<h2>Punto 3</h2>
<p>
  Hacer que al hacer click (evento <em>click</em>) en &quot;Programar
  Fecha&quot; se agregue un nuevo <InlineCodeBlock lang="html" code="<div>" /> dentro
  del
  <InlineCodeBlock lang="html" code={`<div id="fechas">`} /> con un partido entre
  los 2 equipos actualmente seleccionados. Debe ser de la forma &lt;imagen_equipo1&gt;
  &lt;nombre_equipo1&gt; VS &lt;nombre_equipo2&gt; &lt;imagen_equipo2&gt;. Pueden
  agregar código css para que no se vea horrendo.
</p>
