---
import CodeBlock from "../../../../components/articles/code-block/CodeBlock.astro";
import InlineCodeBlock from "../../../../components/articles/code-block/InlineCodeBlock.astro";

export const partial = true;
---

<h2>¿Cómo correr los programas?</h2>
<p>
  Para correr los programas, desde una powershell (obviamente abierta en la
  carpeta donde se encuentran los archivos), pueden correr los programas
  haciendo ./&lt;nombre_programa&gt; &lt;numero_tarjeta&gt;. Por ejemplo,
  <InlineCodeBlock lang="bash" code="./programa3.exe 42" /> corre al programa 3 con
  el número de tarjeta de crédito 42.
</p>
<h2>Parte I</h2>
<div
  style="
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      padding-bottom: 0;
      box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
      margin-top: 1.6em;
      margin-bottom: 0.9em;
      overflow: hidden;
      border-radius: 8px;
      will-change: transform;
    "
>
  <iframe
    allow="fullscreen"
    allowfullscreen="allowfullscreen"
    loading="lazy"
    src="https://www.canva.com/design/DAFkCGcTarY/view?embed"
    style="
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: none;
        padding: 0;
        margin: 0;
      "
  ></iframe>
</div>
<p>
  Hay 6 programas en la carpeta "Parte I", de los cuales sólo 1 de los 6
  programas es correcto. Para determinar cual, prueben los programas con
  distintos números de tarjetas de crédito. Registren las pruebas en el archivo <em
    >"Registro de Pruebas.xlsx"</em
  >, de la siguiente forma:
</p>
<ul>
  <li>
    En la columna "Programa", el número de programa que probaron (1 al 6).
  </li>
  <li>
    En la columna "Tarjeta", el número de tarjeta de crédito que probaron.
  </li>
  <li>
    En la columna "Resultado Obtenido", lo que sea que les haya devuelto el
    programa.
  </li>
  <li>
    En la columna "Resultado Obtenido", si lo que devolvió el programa era lo
    esperado o no.
  </li>
</ul>
<p>
  Si se animan, vayan tratando de adivinar que está roto de los programas
  incorrectos.
</p>
<p>
  <strong
    >NO AVANZAR A LA SIGUIENTE PARTE HASTA NO PONER EN COMÚN JUNTO AL DOCENTE.</strong
  >
</p>
<h2>Parte II</h2>
<div
  style="
      position: relative;
      width: 100%;
      height: 0;
      padding-top: 56.25%;
      padding-bottom: 0;
      box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
      margin-top: 1.6em;
      margin-bottom: 0.9em;
      overflow: hidden;
      border-radius: 8px;
      will-change: transform;
    "
>
  <iframe
    allow="fullscreen"
    allowfullscreen="allowfullscreen"
    loading="lazy"
    src="https://www.canva.com/design/DAFkKI7RM3E/view?embed"
    style="
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border: none;
        padding: 0;
        margin: 0;
      "
  ></iframe>
</div>
<p>
  En la carpeta "Parte II", están los 6 programas y un archivo de tests.
  Ejecutar los tests con los 6 programas. Para probar los distintos programas,
  tienen que modificar la variable programa al principio del archivo de tests.
  Lean los errores que tira. ¿Pueden determinar el programa correcto? ¿En qué
  fallan los incorrectos?
</p>
<p>Para instalar pytest, pueden instalarlo con pip:</p>
<CodeBlock lang="bash" code="pip install pytest" />
<p>
  Para correr el archivo de tests, desde la terminal y en la carpeta donde se
  encuentran los archivos, pueden hacer:
</p>
<CodeBlock lang="bash" code="python -m pytest test_sherlock.py" />
<p>
  <strong
    >NO AVANZAR A LA SIGUIENTE PARTE HASTA NO PONER EN COMÚN JUNTO AL DOCENTE.</strong
  >
</p>
<h2>Parte III</h2>
<p>
  Ahora aparece un séptimo programa, <em>"programa7.exe"</em>. Este se encuentra
  junto a los otros programas y el archivo de tests en la carpeta "Parte III".
  Determinar si es correcto o no.
</p>
