---
export const partial = true;
---

<h2>Introducción</h2>
<p>
  Para entender el contexto del ejercicio, pueden mirar el siguiente video:
  <a href="https://www.youtube.com/watch?v=05Iw0zqeSmM"
    >https://www.youtube.com/watch?v=05Iw0zqeSmM</a
  >
</p>
<h2>Consigna</h2>
<p>Hacer una clase y un conjunto de tests de dicha clase.</p>
<h3>Rollinga</h3>
<p>
  Crear una clase <code>Rollinga</code> (en el archivo <code>rollinga.py</code>)
  que:
</p>
<ul>
  <li>
    Se inicialice con un nombre pasado por parámetro, 0 de felicidad, 0 de
    birras, 0 de panchos, no tiene papas y tiene flequillo
  </li>
  <li>
    Tenga un método <code>tomar_birras</code> que toma un parámetro (cantidad de
    birras) y cosuma esa cantidad de birras. Si el rollinga quiere consumir más birras
    de las que tiene, consume todas las que tenga. Aumenta en 1 su felicidad por
    birra consumida.
  </li>
  <li>
    Tenga un método <code>comer_pancho</code> que no tome parámetros, y, si el rollinga
    tiene al menos un pancho, lo consuma y aumente en 1 su felicidad. Si además tenía
    papas, aumenta en 2 su felicidad, pero deja de tener papas.
  </li>
  <li>
    Si el rollinga no tiene flequillo, no puede ni tomar birras ni comer panchos
    porque la vida dejó de tener sentido
  </li>
</ul>
<h3>Jesús</h3>
<p>
  A Jesús le interesa evaluar que sus discípulos rollingas se comporten
  correctamente. Para eso, va a armar un
  <strong>conjunto de tests usando <code>pytest</code></strong>. Tener en cuenta
  casos con y sin flequillo, con o sin papas, una o múltiples birras, que desee
  más birras de las que tiene, uno o múltiples panchos y las combinaciones de
  estos casos.
</p>
<h3>Ejemplo</h3>
<p>Si creo 4 rollingas:</p>
<ol>
  <li>Con 2 birras</li>
  <li>Con 3 birras, dos panchos y sin flequillo</li>
  <li>Con 2 panchos</li>
  <li>Con 2 panchos y papas</li>
</ol>
<p>
  Todos comen un pancho. Luego, reponerle el flequillo al rollinga 2. Hacer que
  todos tomen sus birras, y vuelvan a comer un pancho. La felicidad debería
  quedar:
</p>
<ol>
  <li>2</li>
  <li>4 (el primer pancho no lo come al no tener flequillo)</li>
  <li>2</li>
  <li>3 (el primer pancho lo come con papas, el segundo no)</li>
</ol>
