---
export const partial = true;
---

<h2>Introducción</h2>
<p>
  Marzo, época de Lollapallooza. ¿Van? Sin embargo, hay otro festival en esta
  época, el Musmanno Rock Festival:
  <a href="https://www.youtube.com/watch?v=PwUiwtrIbgQ"
    >https://www.youtube.com/watch?v=PwUiwtrIbgQ</a
  >.
</p>
<h2>Consigna</h2>
<p>
  Pónganse en parejas. Uno va a ser CM (Community Manager) de Twitter/X, y el
  otro CM de Instagram. Vamos a abreviarlos <strong>CMX</strong> y
  <strong>CMI</strong>. Es importante que se acuerden y asignen roles para la
  actividad que viene.
</p>
<h3>Parte 1</h3>
<p>
  <strong>CMX</strong> descarga los archivos del repositorio linkeado debajo y los
  sube a un nuevo repositorio propio. <strong>CMX</strong> lo agrega a
  <strong>CMI</strong> como colaborador. Para más información de como hacer esto,
  pueden leer en
  <a
    href="https://docs.github.com/en/authentication/managing-access-to-your-repositories/inviting-collaborators-to-a-personal-repository"
    >https://docs.github.com/en/authentication/managing-access-to-your-repositories/inviting-collaborators-to-a-personal-repository</a
  >. <strong>CMI</strong> debe luego clonar el repositorio en sus máquina.
</p>
<h3>Parte 2</h3>
<p>
  Antes del festival, se bajan 2 bandas a último momento, una del excenario
  huawei y otra del escenario indie (elijan ustedes cuales). Queda a cargo de
  los CM&#39;s encontrar reemplazos a último momento.
</p>
<ol>
  <li>
    CMX reemplaza la banda del escenario Huawei, y CMI del escenario Indie.
  </li>
  <li>Ambos realizan un commit</li>
  <li>CMX pushea</li>
  <li>CMI pullea</li>
</ol>
<p>¿Qué ocurre?</p>
<ol start="5">
  <li>CMI pushea</li>
  <li>CMX pullea</li>
</ol>
<h3>Parte 3</h3>
<p>
  Pomelo se baja a último momento. Tanto CMX como CMI buscan un reemplazo a
  último momento.
</p>
<ol>
  <li>
    Tanto CMX como CMI reemplazan a Pomelo por otro artista de forma
    independiente (distinto los dos).
  </li>
  <li>Ambos realizan un commit</li>
  <li>CMI pushea</li>
  <li>CMX pullea</li>
</ol>
<p>¿Qué ocurre?</p>
<ol start="5">
  <li>
    Solucionar el merge conflict, realizando un commit, con algo acordado entre
    los 2.
  </li>
  <li>CMX pushea</li>
  <li>CMI pullea</li>
</ol>
<h3>Punto 4</h3>
<p>
  Como se sobrevendieron las entradas, hay que poner un 4to escenario.
  Nuevamente, los CM&#39;s quedan a cargo de la situación.
</p>
<ol>
  <li>
    CMI crea un branch llamada <em>new-stage</em>, y de ahora en más trabaja en
    ella.
  </li>
  <li>
    Tanto CMI como CMX agregan un escenario de forma independiente (distintos
    con distintas bandas).
  </li>
  <li>Ambos realizan un commit</li>
  <li>Ambos pushean</li>
</ol>
<p>Vean como se comporta en github</p>
<h3>Punto 5</h3>
<p>
  Esta vuelta, ambos pudieron ver sus propuestas y decidieron en una propuesta
  superadora (una, otra o mezcla).
</p>
<ol>
  <li>
    CMI cambia al branch principal (<em>main</em> o <em>master</em>) y pullea
  </li>
  <li>
    Mergea el branch <em>new-stage</em> al este branch principal (<em>main</em>
    o <em>master</em>).
  </li>
  <li>Soluciona el merge conflict con la propuesta final</li>
  <li>CMI pushea</li>
  <li>CMX pullea</li>
</ol>
<h2>Fin.</h2>
<p>
  ¡Salvaron el festival! Ahora miles de personas lo pueden disfrutar rock, rock
  y más rock.
</p>
