---
export const partial = true;
---

<p>
  Queremos armar un programa para programar las fechas de la NBA. Contamos con
  CSS, HTML, datos e imágenes, pero no está andando nada. Nos toca hacer el
  código JS restante.
</p>
<p>
  <strong>PARA NINGUNO DE LOS PUNTOS HAY QUE EDITAR EL HTML</strong> Solo el archivo
  <code>main.js</code>, y si tienen ganas, <code>style.css</code> para que se vea
  lindo.
</p>
<h2>Punto 1</h2>
<p>
  Llenar ambos <code>&lt;select&gt;</code> con etiquetas
  <code>&lt;option&gt;</code> como equipos hay en el array
  <code>equipos</code> de main.js. Haganlo mediante código, no editando el html.
</p>
<h2>Punto 2</h2>
<p>
  Hacer que al cambiar (evento <code>change</code>) el
  <code>&lt;select&gt;</code>, se ponga la imagen del equipo apropiada. Hacerlo
  para ambos select. <strong>TIP</strong>: Alcanza con cambiar el atributo
  <code>src</code> de las imágenes.
</p>
<h2>Punto 3</h2>
<p>
  Hacer que al hacer click (evento <code>click</code>) en &quot;Programar
  Fecha&quot; se agregue un nuevo <code>&lt;div&gt;</code> dentro del
  <code>&lt;div id=&quot;fechas&quot;&gt;</code> con un partido entre los 2 equipos
  actualmente seleccionados. Debe ser de la forma &lt;imagen_equipo1&gt; &lt;nombre_equipo1&gt;
  VS &lt;nombre_equipo2&gt; &lt;imagen_equipo2&gt;. Pueden agregar código css para
  que no se vea horrendo.
</p>
