<nav
  class="w-full bg-gray-50 border-b-2 border-gray-300 flex items-center uppercase font-bold text-gray-700"
>
  <a
    href="/tic-campus/"
    class="py-4 flex items-center justify-center w-40 hover:bg-gray-300"
    >Materias</a
  >
  <a
    href="/tic-campus/student"
    class="py-4 flex items-center justify-center w-40 hover:bg-gray-300"
    >Estudiantes</a
  >
</nav>
