---
import Loader from "../loader/Loader.astro";

import Select from "../../components/misc/select/Select.astro";
---

<script>
  import type { AlpineStudentStore } from "../../scripts/alpine/stores/student";
  import { fetchStudents } from "../../scripts/APIcalls/dashboard";
  type Students = Awaited<ReturnType<typeof fetchStudents>>;
  type Student = Students[number];

  Alpine.data("studentsPage", () => ({
    loading: true,
    students: [] as Students,
    courses: [{ value: "", label: "Todos" }],
    years: [{ value: NaN, label: "Todos" }],
    filter: { course: "", text: "", year: NaN },
    selectedStudent: {
      availableSubjects: [] as string[],
      year: NaN,
      course: "",
    },
    init() {
      fetchStudents().then((students) => {
        // Sort students by year (des), course (asc), surname (asc)
        this.students = students.sort((a, b) => {
          if (a.year > b.year) return -1;
          if (a.year < b.year) return 1;
          if (a.course < b.course) return -1;
          if (a.course > b.course) return 1;
          if (a.surname < b.surname) return -1;
          if (a.surname > b.surname) return 1;
          return 0;
        });
        this.courses = this.courses.concat(
          [...new Set(this.students.map((student) => student.course))]
            .map((course) => {
              return {
                value: course,
                label: course,
              };
            })
            .sort((a, b) => {
              if (a.label < b.label) return -1;
              if (a.label > b.label) return 1;
              return 0;
            })
        );
        this.years = this.years.concat(
          [...new Set(this.students.map((student) => student.year))]
            .sort((a, b) => b - a)
            .map((year) => {
              return {
                value: year,
                label: year.toString(),
              };
            })
        );
        this.filter.year = this.years[0].value;
        this.filter.course = this.courses[0].value;
        this.filter.text = "";
        this.loading = false;
      });
    },
    get filteredStudents() {
      return this.students
        .filter((s) => {
          let courseFilter = true;
          let textFilter = true;
          let yearFilter = true;
          let normalizedText = this.filter.text
            .toLowerCase()
            .normalize("NFD")
            .replace(/[\u0300-\u036f]/g, "");
          if (this.filter.text !== "") {
            textFilter =
              s.name
                .toLowerCase()
                .normalize("NFD")
                .replace(/[\u0300-\u036f]/g, "")
                .includes(normalizedText) ||
              s.surname
                .toLowerCase()
                .normalize("NFD")
                .replace(/[\u0300-\u036f]/g, "")
                .includes(normalizedText);
          }
          if (this.filter.course !== "") {
            courseFilter = s.course === this.filter.course;
          }
          if (!isNaN(this.filter.year)) {
            yearFilter = s.year === this.filter.year;
          }
          return yearFilter && textFilter && courseFilter;
        })
        .sort((a, b) => {
          if (a.year > b.year) return -1;
          if (a.year < b.year) return 1;
          if (a.course < b.course) return -1;
          if (a.course > b.course) return 1;
          if (a.surname < b.surname) return -1;
          if (a.surname > b.surname) return 1;
          return 0;
        });
    },
    selectStudent(student: Student) {
      this.selectedStudent.year = student.year;
      this.selectedStudent.course = student.course;
      this.selectedStudent.availableSubjects = student.subjects;
      const studentStore = Alpine.store("student") as AlpineStudentStore;
      studentStore.setStudent(
        student.name,
        student.surname,
        student.course,
        student.id
      );
      studentStore.setSubject("");
    },
  }));
</script>
<div class="w-full flex justify-center py-4" x-data="studentsPage()">
  <Loader show="loading" />
  <dialog
    class="m-auto w-1/2 h-3/4 rounded-2xl border-2 border-gray-300 p-4"
    x-ref="subjectsDialog"
  >
    <div class="flex justify-end">
      <span
        class="material-symbols-outlined cursor-pointer"
        @click="$refs.subjectsDialog.close()">cancel</span
      >
    </div>
    <h2 class="text-2xl font-bold text-center mb-4">Materias Disponibles</h2>

    <div class="overflow-y-scroll flex flex-col gap-4 p-4 items-center">
      <template x-for="subject in selectedStudent.availableSubjects">
        <a
          :href="`${$store.pageData.dataURL}/${selectedStudent.year}/${subject}/${selectedStudent.course}`"
          class="flex gap-x-4 py-2 px-4 rounded-xl bg-gray-300 cursor-pointer hover:shadow-lg w-fit"
        >
          <span class="text-[16px] text-sh-dark-gray" x-text="subject"></span>
        </a>
      </template>
    </div>
  </dialog>

  <div class="w-full flex flex-col gap-y-4" x-show="!loading">
    <div class="flex w-full gap-x-8">
      <div class={`flex flex-col items-center md:items-start gap-2 px-4`}>
        <label
          class="text-center md:text-left text-sh-dark-gray text-[16px] font-semibold"
          >Nombre y Apellido</label
        >
        <div
          class="flex justify-between items-stretch w-full max-w-[200px] h-[44px] rounded-xl text-sh-dark-gray text-[16px] border-2 border-sh-gray"
        >
          <div class="flex items-center basis-0 grow px-2">
            <input class="w-full focus:outline-0" x-model="filter.text" />
          </div>
          <div class="flex items-center">
            <span
              class="material-symbols-outlined text-[24px] text-sh-dark-gray px-2"
            >
              search
            </span>
          </div>
        </div>
      </div>
      <Select
        title="Curso"
        xModel="filter.course"
        options="courses"
        className="min-w-48"
      />
      <Select
        title="Año"
        xModel="filter.year"
        options="years"
        className="min-w-48"
      />
    </div>
    <table class="w-full">
      <thead class="bg-sh-black text-gray-50 text-lg font-semibold">
        <tr>
          <th class="px-4 py-2">Nombre</th>
          <th class="px-4 py-2">Apellido</th>
          <th class="px-4 py-2">Año</th>
          <th class="px-4 py-2">Curso</th>
        </tr>
      </thead>
      <tbody>
        <template x-for="student in filteredStudents">
          <tr
            class="border-b-2 border-gray-300 hover:bg-gray-300 cursor-pointer"
            @click="selectStudent(student);$refs.subjectsDialog.showModal()"
          >
            <td class="px-4 py-2" x-text="student.name"></td>
            <td class="px-4 py-2" x-text="student.surname"></td>
            <td class="px-4 py-2" x-text="student.year"></td>
            <td class="px-4 py-2" x-text="student.course"></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>
