---
import Loader from "../loader/Loader.astro";

import Select from "../../components/misc/select/Select.astro";
---

<div
  class="w-full flex justify-center py-4"
  x-data="{loading:true, students: [], courses: [],filter: {course: '', text: ''}, filteredStudents: []}"
  x-effect="filteredStudents = students.filter(s => {
    if (filter.course !== '') {
      return s.course === filter.course;
    }
    return true;
  })"
  x-init="
  const [testStudents, shuliStudents, leanStudents] = await Promise.all([
    window.getStudents('1ppAnySYCXVRyJtXem9A-d3uZzujJVYVSTun_lI6yZWo'),
    window.getStudents('1VZ_KPk4aZJFPlAgx188y0wW8p3psbbtZgix1L8a-5kE'),
    window.getStudents('16t4_OiokJCYG8Qs_4FhxBLR13Rnr8HD3ppiHcJB9zzc')
  ]);
  students = [...testStudents, ...shuliStudents, ...leanStudents].sort((a, b) => {
    if (a.course < b.course) return -1;
    if (a.course > b.course) return 1;
    if (a.surname < b.surname) return -1;
    if (a.surname > b.surname) return 1;
    return 0;
  });
  courses = [...new Set(students.map(student => student.course))].map(course => {
    return {
      value: course,
      label: course
    };
  });
  filter.course = courses[0].value;
  filter.text = '';
  loading = false;
  "
>
  <Loader show="loading" />
  <div class="w-full flex flex-col gap-y-4">
    <div>
      <Select title="Curso" xModel="filter.course" options="courses" />
    </div>
    <table class="w-full" x-show="!loading">
      <thead class="bg-sh-black text-gray-50 text-lg font-semibold">
        <tr>
          <th class="px-4 py-2">Nombre</th>
          <th class="px-4 py-2">Apellido</th>
          <th class="px-4 py-2">Curso</th>
        </tr>
      </thead>
      <tbody>
        <template x-for="student in filteredStudents">
          <tr
            class="border-b-2 border-gray-300 hover:bg-gray-300 cursor-pointer"
            @click="$store.student.setStudent(student.name, student.surname, student.course, student.DNI)"
          >
            <td class="px-4 py-2" x-text="student.name"></td>
            <td class="px-4 py-2" x-text="student.surname"></td>
            <td class="px-4 py-2" x-text="student.course"></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>
