---
import Download from "../../../../../components/articles/download/Download.astro";
---

<p>Simulacro de Examen:</p>
<Download
  file="files/pruebas/bdd/Simulacro_BDD.pdf"
  name="Simulacro de Examen"
/>
