---
import ImportantBox from "../../../../../components/articles/alertbox/ImportantBox.astro";
import Download from "../../../../../components/articles/download/Download.astro";
---

<h2>Simulacro de Examen:</h2>
<Download
  file="files/pruebas/bdd/Simulacro_BDD.pdf"
  name="Simulacro de Examen"
/>
<h2>Exámenes Viejos</h2>
<Download file="files/pruebas/bdd/pruebas_viejas.zip" name="Exámenes 2025" />
<ImportantBox>
  <p>
    Estos exámenes son para practicar y son un poco más difíciles/corresponden a
    otro dictado de clases. No son tan representativos de lo que vamos a tomar.
    Vamos a hacer pruebas del mismo formato, pero más coherentes con las clases
    y los ejercicios que dimos. Está prohibido llorar por estos exámenes.
  </p>
</ImportantBox>
