---
interface Props {
  open: boolean;
  articleURL: string;
}

const { open, articleURL } = Astro.props;
---

<section
  x-show={`$store.section.currentSection === 'activities' && `}
  class="absolute inset-0 w-full h-full bg-gray-50 overflow-y-scroll overflow-x-hidden flex flex-col p-4 gap-y-4"
  x-transition
>
</section>
