---
import SectionLayout from "../SectionLayout.astro";

interface Props {
  year: number;
}

const { year } = Astro.props;
---

<SectionLayout name="programa">
  <h1 class="text-[36px] font-bold text-center p-4">Programa de la Materia</h1>
  <div
    x-data={`{ baseURL: $store.baseURL.dataURL, year: ${year}}`}
    x-bind:hx-get="baseURL + '/tic-campus/programs/' + year"
    hx-target="this"
    hx-trigger="revealed"
    class="flex flex-col gap-y-4 [&>h2]:font-semibold [&>h2]:text-[30px] [&>div]:p-4 [&>div]:border-2 [&>div]:border-gray-300 [&>div]:rounded-xl [&>div]:flex [&>div]:flex-col [&>div]:gap-y-4 [&>div>div]:flex [&>div>div]:gap-x-4 [&>div>div]:text-[24px] [&>div>div>h2]:font-semibold [&>div>div>h2]:leading-normal [&>div>div>div]:flex [&>div>div>div]:flex-col [&>div>div>div]:gap-y [&>div>div>div]:italic [&>div>ul]:list-disc [&>div>ul]:list-inside [&>div>ul]:indent-4 [&>div>ul>li]:text-gray-600 [&>div>ul>li]:list-disc [&>div>ul>li+li]:mt-1"
  >
  </div>
</SectionLayout>
