---
import Loader from "../../loader/Loader.astro";
import SectionLayout from "../SectionLayout.astro";

interface Props {
  subject: string;
  year: number;
  position: number;
}

const { subject, year, position } = Astro.props;
---

<SectionLayout name="programa" position={position}>
  <div
    x-data="{html: '', loading: true}"
    x-init={`html = await fetchHTMLData($store.baseURL.dataURL + '/${year}/${subject}/program'); loading = false;`}
    class="w-full"
  >
    <h1 class="text-[30px] md:text-[36px] font-bold text-center p-4">
      Programa de la Materia
    </h1>
    <div
      class="flex flex-col gap-y-4 [&>h2]:font-semibold [&>h2]:text-[24px] [&>h2]:text-center md:[&>h2]:text-[30px] md:[&>h2]:text-left [&>div]:p-4 [&>div]:border-2 [&>div]:border-solid [&>div]:border-gray-300 [&>div]:rounded-xl [&>div]:flex [&>div]:flex-col [&>div]:gap-y-4 [&>div>div]:flex [&>div>div]:text-center md:[&>div>div]:text-left [&>div>div]:flex-col md:[&>div>div]:flex-row [&>div>div]:gap-x-4 [&>div>div]:text-[20px] md:[&>div>div]:text-[24px] [&>div>div>h2]:font-semibold [&>div>div>div]:flex [&>div>div>div]:flex-col [&>div>div>div]:gap-y [&>div>div>div]:italic [&>div>ul]:list-disc [&>div>ul]:list-inside [&>div>ul]:indent-4 [&>div>ul>li]:text-gray-600 [&>div>ul>li]:list-disc [&>div>ul>li+li]:mt-1"
      x-html="html"
      x-show="!loading"
    >
    </div>
    <Loader show="loading" />
  </div>
</SectionLayout>
