@import "tailwindcss";

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

@theme {
  --font-sans: "Lato", sans-serif;
  --font-special-elite: "Special Elite", serif;
  --color-sh-black: rgb(27, 27, 27);
  --color-sh-dark-gray: #2a2a2a;
  --color-sh-gray: #3f3f3f;
  --color-sh-purple: rgb(195, 172, 250);
  --color-sh-light-purple: rgba(229, 222, 252, 1);
  --color-sh-blue: rgba(34, 190, 251, 1);
  --color-sh-light-blue: rgba(216, 238, 255, 1);
  --color-sh-red: rgba(255, 52, 59, 1);
  --color-sh-light-red: rgba(255, 238, 239, 1);
  --color-sh-yellow: rgba(253, 176, 29, 1);
  --color-sh-light-yellow: rgba(254, 250, 236, 1);
  --color-sh-green: rgba(31, 203, 95, 1);
  --color-sh-light-green: rgba(233, 253, 242, 1);
}

@layer components {
  .scrollbar {
    @apply [&::-webkit-scrollbar]:w-1.5 [&::-webkit-scrollbar-track]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-200 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-sh-gray;
  }
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  color: theme("colors.sh.purple");
  position: relative;
  background: conic-gradient(from 134deg at top, currentColor 92deg, #0000 0) top,
    conic-gradient(from -46deg at bottom, currentColor 92deg, #0000 0) bottom;
  background-size: 100% 50%;
  background-repeat: no-repeat;
}

.loader:before {
  content: "";
  position: absolute;
  inset: 0;
  --g: currentColor 14.5px, #0000 0 calc(100% - 14.5px), currentColor 0;
  background: linear-gradient(45deg, var(--g)),
    linear-gradient(-45deg, var(--g));
  animation: l7 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

@keyframes l7 {
  33% {
    inset: -10px;
    transform: rotate(0deg);
  }

  66% {
    inset: -10px;
    transform: rotate(90deg);
  }

  100% {
    inset: 0;
    transform: rotate(90deg);
  }
}

.custom-table {
  border: 2px solid white;

  th,
  td {
    border: 1px solid var(--color-gray-700);
    padding: 8px
  }
}

blockquote {
  color: var(--color-gray-600);
  margin: 1rem;
  padding-left: 1rem;
  border-left: 4px solid var(--color-gray-700);
}