---
export const partial = true;
---

<h2>Clase especial - 8M</h2>
<h3>Mujeres en tecnología</h3>
<iframe
  class="w-full aspect-video"
  src="https://drive.google.com/file/d/1m5nzixtmzMAQ3_O7qtMtPyw6JpqCkoib/preview"
  allowfullscreen
>
</iframe>

<hr />
