---
export const partial = true;
---

<h2>Sistemas de numeración</h2>
<h3>Decimal y Binario</h3>
<iframe
  class="w-full aspect-video"
  src="https://drive.google.com/file/d/1-LvoINU-xnPHRZNt1QJKYZyihQocM3Bv/preview"
  allowfullscreen
>
</iframe>

<hr />

<div>
  <div>
    <h2>GRUPO 1</h2>
    <div>
      <span>Clase anotada</span>
    </div>
  </div>
  <ul>
    <li>
      <strong>Link a la clase anotada:</strong><a
        href="https://drive.google.com/file/d/1FY1Fk0f4lq29fU8cq9PA1wyRgX1nnlUK/view?usp=sharing"
        >Link</a
      >
    </li>
  </ul>
</div>
