---
export const partial = true;
---

<h2>Arquitectura y Componentes de la Computadora</h2>
<h3>Hardware, CPU, Memorias</h3>
<iframe
  class="w-full aspect-video"
  src="https://drive.google.com/file/d/1cgu3D2Mq31XR4SXDjz4Yi07bFbnbCWbX/preview"
  allowfullscreen
>
</iframe>

