---
export const partial = true;
---

<h2>Arquitectura y Componentes de la Computadora</h2>
<h3>Motherboard, Buses y Dispositivos de almacenamiento</h3>
<iframe
  class="w-full aspect-video"
  src="https://drive.google.com/file/d/1qP4OUHddDufBpqRpSDweencHtQ7XQLdS/preview"
  allowfullscreen
>
</iframe>
