---
export const partial = true;
---

<h2>Conceptos Básicos de Electrónica y Funcionamiento de la Electricidad</h2>
<h3>
  ¿Qué es la electricidad? <br />
  Ley de Ohm: Relación entre tensión, corriente, resistencia.
</h3>

<iframe
  class="w-full aspect-video"
  src="https://drive.google.com/file/d/1_biSZTBIxpknnBOwYpyi6vM-Uo5qZxGP/preview"
  allowfullscreen
>
</iframe>
