---
export const partial = true;
---

<h2>Conceptos Básicos de Electrónica y Funcionamiento de la Electricidad</h2>
<h3>
  Ley de Ohm y Potencia: Relación entre tensión, corriente, resistencia y
  potencia. <br />
  Ejemplos prácticos de la ley de Ohm aplicada a circuitos sencillos.
</h3>

<iframe
  class="w-full aspect-video"
  src="https://drive.google.com/file/d/1pv_f7NbpZkmekR3C9sj-BKqIdD1mdp2y/preview"
  allowfullscreen
>
</iframe>
