---
export const partial = true;
---

<h2>Introducción a Arduino y primeros pasos</h2>
<h3>
  ¿Qué es un sistema embebido? ¿Qué es Arduino? <br />
  Control de LEDs (Salidas) con Arduino. <br />
</h3>

<iframe
  class="w-full aspect-video"
  src="https://drive.google.com/file/d/1e-RQVQjCY_K1FBqKm2mNWMTozd0hDsoZ/preview"
  allowfullscreen
>
</iframe>
