---
export const partial = true;
---

<h2>Entradas y salidas digitales</h2>
<h3>
  Variables. <br />
  Control de LEDs (Salidas) con Arduino. <br />
</h3>

<iframe
  class="w-full aspect-video"
  src="https://drive.google.com/file/d/1RuRUJVR4SHq4bSQcfk1Q-m82ZYLdY8Un/preview"
  allowfullscreen
>
</iframe>
