---
export const partial = true;
---

<h2>Consigna</h2>
<p>
  En muchos casos, no llegué a ver algunas de las actividades que hicieron.
  Además, puede que las pierdan en el ida y vuelta del Z:, o se les rompen las
  compus. Por eso, como ahora habilitamos esta hermosa herramienta de
  git/gitHub, les pido por favor que suban todas las actividades viejas que
  hicimos a este repositorio (separenlas en carpetas por favor). Asi las puedo
  ver yo, y las conservan ustedes. No los compriman, que estén los HTML/CSS/JS
  tal cual.
</p>

<p>Las actividades que quiero que suban son:</p>

<ul>
  <li>Mi Receta Favorita</li>
  <li>Steam Sale Salada</li>
  <li>Gran Hermano</li>
  <li>SUBE Registrada</li>
  <li>Las Delicias de Montañeses</li>
</ul>
<p>
  <strong
    >IMPORTANTE: No importa si no terminaron alguna, subanlas tal cual las
    tengan.</strong
  >
</p>

<p>¿Como hacer esto de una forma fácil? Pueden seguir estas instrucciones:</p>

<ol>
  <li>
    Clonar el repositorio a su computadora. Localizar en que carpeta se guardó.
  </li>
  <li>
    Copiar y Pegar los archivos dentro de la carpeta en donde se clonó el
    repositorio.
  </li>
  <li>Hacer un commit (Recuerden darle una descripción en Summary).</li>
  <li>Hacer un push.</li>
</ol>
<p>¡Listo!</p>
