---
export const partial = true;
---

<h2>Consigna Base</h2>
<p>
  ¡Se acerca la copa américa! Y Scaloni tiene que armar la lista de convocados
</p>
<p>Hacer un programa que:</p>
<ul>
  <li>
    Al hacer click en <em>Agregar Jugador</em> (<code class="language-html"
      >id = "agregar"</code
    >) se agregue el jugador a la lista de convocados (sin mostrar nada).
  </li>
  <li>
    Al hacer click en <em>Limpiar Lista</em> (<code class="language-html"
      >id = "limpiar"</code
    >) se vacíe la lista de convocados.
  </li>
  <li>
    Al hacer click en <em>Finalizar Lista</em> (<code class="language-html"
      >id = "finalizar"</code
    >) debería mostrar la lista final de convocados como
    <code class="language-html">&ltli&gt</code> en
    <code class="language-html">&ltul id="convocados"&gt</code>.
  </li>
</ul>
<p>Algunos tips:</p>
<ul>
  <li>
    La lista tiene que estar en una variable fuera de las funciones para que
    puedan accederlas las todas.
  </li>
  <li>
    Para agregar un elemento a la lista uno puede hacer
    <code class="language-javascript"
      >&ltlista&gt.push(&ltelemento a agregar&gt)</code
    >.
  </li>
  <li>Para vaciar la lista se puede igualar a una lista vacía.</li>
  <li>
    Para mostrar la lista, hay que recorrerla con un <em>for/while</em>.
    ¡Recuerden que los índices arrancan en 0!
  </li>
</ul>
<h2>Consigna Manija I</h2>
<p>
  Agregar un <code class="language-html">&ltselect&gt</code> para ingresar
  también su posición (arquero, defensor, volante, delantero) y al mostrar la
  lista final, sean listas separadas por posición. Hay varias formas de hacer
  esto: una puede ser tener listas separadas, otra puede ser que al agregar
  jugador, no se agregue solo el nombre como
  <code class="language-javascript">string</code>, si no alguna estructura de
  datos más compleja. ¿Un objeto? ¿Otra lista?
</p>
<h2>Consigna Manija II</h2>
<p>
  Agregar un input para incluir también el número del jugador, no solo el nombre
  . <strong>TIP:</strong> tal vez en la lista no tengan que guardar solo el
  nombre como <code class="language-javascript">string</code>, si no alguna
  estructura de datos más compleja. ¿Un objeto? ¿Otra lista?
</p>
<h2>Consigna Manija III</h2>
<p>
  Además, hacer que al llegar a los 26 jugadores, se inhabilite el botón de
  <em>Agregar Jugador</em>. Inhabilitar el botón implica que el hacer click no
  haga nada, y debería haber una diferencia gráfica en que esté
  habilitado/inhabilitado. Googleen como hacer esto, pero les adelanto que
  seteando la propiedad de css
  <code class="language-css">pointer-events: "none"</code> anulan los clicks. Al
  limpiar la lista o mostrar convocados, se debería volver a habilitar (<code
    class="language-css"
    >pointer-events: "cursor"</code
  >).
</p>
