---
export const partial = true;
---

<h2>Consigna Base</h2>
<p>
  Para poder acomodar nuestros tags html en el espacio, lo más común es usar
  FlexBox. Esta es una serie de elementos en css, pero tienen sus truquitos. No
  voy a explicar nada yo, simplemente completen el siguiente juego:
</p>
<p>
  <strong>FlexBox Froggy:</strong>
  <a href="https://flexboxfroggy.com/">https://flexboxfroggy.com/</a>
</p>
<h2>Consigna Manija</h2>
<p>
  También para estructuras más complejas, de más de una dimensión, se puede usar
  grid. No es tan común como FlexBox, pero puede serles útil. Para esto, también
  hay otro juego:
</p>
<p>
  <strong>Grid Garden:</strong>
  <a href="https://cssgridgarden.com/">https://cssgridgarden.com/</a>
</p>
