---
export const partial = true;
---

<h2><em>Shulian's Version</em></h2>
<p>
  Uno de los principales contribuyentes a las emisiones de gases de efecto
  invernadero, en particular el CO2, es el transporte. Para concientizar sobre
  dicho impacto, vamos a construir una calculadora que le permite al usuario
  determinar cuantas emisiones realiza en un viaje.
</p>
<p>
  Debemos construir un programa que, dado un input numérico de los km
  recorridos, un menú despleglable (<code class="language-html"
    >&ltselect&gt</code
  >) con los medios de transporte disponibles y un botón que al clickearlo
  calcule las emisiones de carbono de dicho viaje y las muestre por pantalla.
</p>
<p>
  <strong>Para esta actividad no se puede usar ni prompt ni alert.</strong>
</p>
<p>Medios de transporte disponibles:</p>
<table class="data-table">
  <thead>
    <tr>
      <th>Medio de transporte</th>
      <th>Emisiones (gCO2/km)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vuelos Internacionales</td>
      <td>254</td>
    </tr>
    <tr>
      <td>Vuelos de Cabotaje</td>
      <td>195</td>
    </tr>
    <tr>
      <td>Auto</td>
      <td>171</td>
    </tr>
    <tr>
      <td>Colectivo</td>
      <td>104</td>
    </tr>
    <tr>
      <td>Carpooling</td>
      <td>43</td>
    </tr>
    <tr>
      <td>Tren Diesel</td>
      <td>41</td>
    </tr>
    <tr>
      <td>Micro Larga Distancia</td>
      <td>27</td>
    </tr>
    <tr>
      <td>Tren Eléctrico/Subte</td>
      <td>6</td>
    </tr>
  </tbody>
</table>
<p>
  Logrando esta primera parte de la consigna, obtienen un
  <strong>7</strong>. No tiene que verse lindo, con el esqueleto funcional
  alcanza.
</p>
<h2>Por el 10</h2>
<p>
  Para obtener el 10, deben pasar el diseño hecho en TIMI al programa (HTML +
  CSS). Esto lo corregimos cara a cara durante PIA, donde ustedes me muestran su
  diseño y como les quedó el programa. No se preoucupen por centrado ni
  márgenes, eso lo vemos más adelante.
</p>
<h2>Entrega</h2>
<p>
  La entrega es simplemente realizando un commit y pusheando (pueden realizar
  más de un commit, pero al menos 1).
</p>
