---
export const partial = true;
---

<h2>Primera Parte: Consigna HTML</h2>
<ol>
  <li>Buscar una receta de cocina que les guste</li>
  <li>Armar un archivo receta.html</li>
  <li>El nombre del plato debe estar como título</li>
  <li>Incluyan un breve párrafo de por qué eligieron esta receta</li>
  <li>Incluyan una imagen del plato</li>
  <li>Incluyan los ingredientes necesarios (y sus cantidades)</li>
  <li>Incluyan los pasos a seguir para preparar el plato</li>
  <li>
    Incluyan un link que redireccione a la fuente de donde sacaron la receta, o
    de no existir, a la home del campus de esta materia. TIP: Googleen anchor
    tag
  </li>
</ol>
<h2>Segunda Parte: Consigna CSS</h2>
<p>Pongámosle un poco de onda. ¿Se animan a meterle un poco de diseño?</p>
<ol>
  <li>Cambiar la tipografía</li>
  <li>Cambiar el color de fondo</li>
  <li>Cambiar el color del título principal</li>
  <li>
    Cambiar el tamaño de letra del título principal y el párrafo descriptivo
  </li>
  <li>Achicar la imagen</li>
</ol>
<h2>Consigna Manija</h2>
<p>
  Si están manijas con el diseño, les dejo cosas super interesantes para hacer:
</p>
<ul>
  <li>Cambiar los bullets</li>
  <li>
    Cambiar el color del título cuando uno pasa el mouse por arriba (hover)
  </li>
</ul>
<p>
  Y si siguen manija, para las casas (lo vamos a hacer en el avanzado igual),
  hagan el siguiente juego:
  <a href="https://flexboxfroggy.com/">Flexbox Froggy</a>. Les enseña a manejar
  el orden espacial en css.
</p>
