---
export const partial = true;
---

<p>
  ¡Ahora si me tienen que entregar la actividad <em>"Mi receta favorita"</em>!
  La forma es que lo van a hacer con GitHub, en un repositorio que les voy a dar
  yo.
</p>
<h2>Consigna</h2>
<ol>
  <li>
    Localizar los archivos de la actividad "Mi receta favorita". Si están en el
    Z, asegúrense de tener conexión, si están en drive, descárguenlos.
  </li>
  <li>Logueense a Github.</li>
  <li>
    Vayan a la consigna de "Mi receta favorita". Arriba, en la barra de
    navegación, hay un botón que dice "Repositorio". Hagan clic en él.
  </li>
  <li>
    Primero les va a preguntar su nombre. Elijan su nombre en la lista. Si no
    aparecen, avisen. <strong>Este paso es súper importante</strong> ya que es la
    forma que tengo de asociar sus cuentas de github con ustedes.
  </li>
  <li>Acepten la actividad/asignación.</li>
  <li>
    ¡Listo! Tienen su repositorio creado. Debería tener dos archivos: un
    README.md y LICENSE. No tienen que hacer nada con esos archivos, simplemente
    están. No muerden.
  </li>
  <li>Copien el link otorgado por el botón verde, "Code" o "Código".</li>
  <li>Vayan a VSCode y hagan click en "Clone Repository".</li>
  <li>Peguen el link copiado en el campo correspondiente.</li>
  <li>
    Elijan la carpeta donde quieren guardar el proyecto (recuerden esta carpeta
    para más adelante). No hace falta que vaya al Z.
  </li>
  <li>
    ¡Listo! Tienen una copia local del repositorio. Ahora hay que subirle los
    archivos.
  </li>
  <li>Copien los archivos de la receta a la carpeta del repositorio.</li>
  <li>
    Hagan un commit con los cambios, tal como vimos en la clase o en los
    apuntes.
  </li>
  <li>
    <strong
      >SI LES LLORA QUE FALTA git.user y git.email VENGAN A VER A LUU/SHULIAN</strong>
  </li>
  <li>Pusheen los cambios a GitHub.</li>
</ol>
<p>
  <em>C'est fini</em>. Su trabajo está guardado de forma segura en la nube, y yo
  lo puedo ver para corregir, por lo tanto está entregado. ¡Asi nos vamos a
  manejar todo el año!
</p>
