---
import AvanzadosTable from "../../../components/dashboard/avanzados/AvanzadosTable.astro";
import AdminLayout from "../../../layouts/AdminLayout.astro";
---

<script>
  import { requireAdminAuth } from "../../../scripts/auth";
  requireAdminAuth();
</script>

<AdminLayout>
  <div class="w-full h-full flex flex-col items-center overflow-y-scroll">
    <h1 class="text-[30px] md:text-[36px] font-bold pt-4 pb-2">Avanzados</h1>
    <h2 class="text-[16px] md:text-[20px] pb-4">
      Emparejá estudiantes de nivel 3 y 4 con los seminarios avanzados del segundo cuatrimestre.
    </h2>
    <AvanzadosTable />
  </div>
</AdminLayout>
