---
import Home from "../components/sections/home/Home.astro";
import Activities from "../components/sections/activities/Activities.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Redos from "../components/sections/redo/Redos.astro";
import Program from "../components/sections/program/Program.astro";
import Material from "../components/sections/material/Material.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main
    class="relative grow bg-gray-50 border border-gray-300 rounded-xl overflow-hidden"
  >
    <Home />
    <Activities />
    <Redos />
    <Program />
    <Material />
  </main>
</Layout>
