---
import GithubLayout from "../layouts/GithubLayout.astro";
---

<GithubLayout>
  <div class="w-full h-full flex flex-col items-center overflow-y-scroll">
    <h1 class="text-[30px] md:text-[36px] font-bold pt-4 pb-2">Notas</h1>
    <h2 class="text-[16px] md:text-[20px] pb-4">
      En esta página se encuentra el cálculo de nota de cada uno de los
      estudiantes.
    </h2>
  </div>
</GithubLayout>
