---
export const partial = true;
---

<p>
  Como la consigna D me qued&oacute; un poco confusa y extensa para solo 1 punto
  <strike>(y ustedes son un poco vagos)</strike>, les dejo una versi&oacute;n
  simplificada del punto D para que puedan llegar al 10.
</p>

<h2>Consigna D</h2>

<p>
  Resolviendo la siguiente consigna suman un punto en el trabajo pr&aacute;ctico
  &quot;La oficina del Chiqui&quot; siempre y cuando hayan hecho las partes A y
  B correctamente.
</p>

<p>
  Con los siguientes equipos, ejecutar 500 veces tanto el torneo de llaves como
  torneo de liga. Contabilizar los ganadores, es decir, contar cuantas veces
  gan&oacute; cada equipo en cada sistema. Cuenten por separado los ganadores de
  la liga de los ganadores de las llaves.
</p>

<pre><code class="language-python">
equipos = [
    (&quot;Col&oacute;n&quot;,0.8,0.75),
    (&quot;Ferro&quot;,0.7,0.65),
    (&quot;Defensores de Belgrano&quot;,0.75,0.7),
    (&quot;Quilmes&quot;,0.6,0.6),
    (&quot;All Boys&quot;,0.5,0.6),
    (&quot;Chacarita&quot;,0.4,0.45),
    (&quot;Arsenal&quot;,0.4,0.3),
    (&quot;Chaco For Ever&quot;,0.3,0.4),
]
</code></pre>

<p>
  Luego de correr ambos sistemas 500 veces y contar los ganadores, responder
  como comentarios al final del c&oacute;digo las siguientes preguntas:
</p>

<ol>
  <li>
    &iquest;Ganaron los mismos equipos en ambos sistemas? &iquest;O hay equipos
    que les va mejor en un sistema que el otro?
  </li>
  <li>
    &iquest;C&oacute;mo les va a los equipos chicos (de menor ataque y defensa)
    en ambos sistemas?
  </li>
  <li>
    &iquest;Podr&iacute;an concluir algo de la comparaci&oacute;n entre ambos
    sistemas?
  </li>
</ol>
