---
export const partial = true;
---

<h2>Introducción</h2>
<p>
  Marzo, época de Lollapallooza. ¿Van? Sin embargo, hay otro festival en esta
  época, el Musmanno Rock Festival:
  <a href="https://www.youtube.com/watch?v=PwUiwtrIbgQ"
    >https://www.youtube.com/watch?v=PwUiwtrIbgQ</a
  >.
</p>
<h2>Repositorio</h2>
<a href="https://github.com/JZylber/Mangueras-Musmanno-Rock-Festival"
  >https://github.com/JZylber/Mangueras-Musmanno-Rock-Festival</a
>
