---
export const partial = true;
---

<div>
  <div>
    <h2>UNIDAD 1 SE</h2>
    <div>
      <span>nombre unidad 1</span>
    </div>
  </div>
  <ul>
    <li>tema</li>
    <li>otro tema</li>
  </ul>
</div>
