---
interface Props {
  course: string;
}

interface Item {
  name: string;
  icon: string;
}

const items = [
  { name: "home", icon: "home" },
  { name: "actividades", icon: "school" },
  { name: "reentregas", icon: "replay" },
  { name: "programa", icon: "event_note" },
  { name: "material", icon: "construction" },
] as Item[];

const { course } = Astro.props;
---

<nav
  class="flex flex-col gap-y-2 bg-sh-black text-white p-4 w-[250px] shrink-0 h-full leading-normal rounded-xl"
  x-data={`{items: ${JSON.stringify(items)}}`}
>
  <template x-for="item in items">
    <div
      x-on:click="$store.section.changeSection(item.name)"
      class="flex items-center p-2 cursor-pointer gap-x-4 rounded-md"
      x-bind:class="{ 'bg-sh-dark-gray': $store.section.currentSection === item.name }"
    >
      <span x-text="item.icon" class="material-symbols-outlined text-[24px]"
      ></span>
      <span
        class="text-lg"
        x-text="item.name[0].toUpperCase() + item.name.slice(1, item.name.length)"
      ></span>
    </div>
  </template>
  <template
    x-if={`$store.student.course === '${course}' && $store.student.markData.finalMark`}
  >
    <div
      class="w-full rounded-2xl bg-sh-purple p-4 mt-auto mb-10 flex flex-col items-center gap-y-3 text-sh-dark-gray"
    >
      <span class="text-[20px] font-semibold">Nota Parcial</span>
      <div
        class="flex flex-col items-center gap-y-1"
        x-data="{ passed: false }"
        x-init="passed = $store.student.markData.finalMark >= 6"
      >
        <div
          class="text-[30px] font-bold border-4 border-sh-dark-gray rounded-full aspect-square flex justify-center items-center"
        >
          <span x-text="$store.student.markData.finalMark"></span>
        </div>
        <span
          x-text="passed ? 'Aprobado' : 'En Proceso'"
          class="text-[16px] font-semibold"></span>
      </div>
      <p
        class="text-gray-600 cursor-pointer"
        x-on:click="$store.section.changeSection('nota')"
      >
        <span class="hover:underline">Más Información</span>
      </p>
    </div>
  </template>
</nav>
