---
export const partial = true;
---

<h2>Unidad 2 - Guía de Ejercicios</h2>
<h3>
  Conversiones entre sistemas de numeración decimal, binario y hexadecimal
</h3>
<iframe
  style="border: 1px solid rgba(0, 0, 0, 0.1);"
  class="w-full aspect-video"
  src="https://drive.google.com/file/d/1W7KGiWUGJirVfuGOnkf8SIbTPfbWsJjg/view?usp=sharing"
  allowfullscreen></iframe>
