---
export const partial = true;
---

<h2>Unidad 5 - Guía de Ejercicios</h2>
<h3>
  Control de salidas, entradas y comunicación serial con Arduino. <br />
</h3>
<iframe
  class="w-full aspect-video"
  src="https://drive.google.com/file/d/10BQh0WfsFX6hETppxyHEKCY5oeZzWpjp/preview"
  allowfullscreen></iframe>
