---
export const partial = true;
---

<h2>Consigna</h2>
<p>
  En muchos casos, no llegué a ver algunas de las actividades que hicieron. Ya
  sea que google drive es un bardo, o si usan el Z: vive crasheando, necesitamos
  algo distinto. Por eso, como ahora habilitamos esta hermosa herramienta de
  git/gitHub, les pido por favor que suban todas las actividades viejas que
  hicimos a este repositorio (separenlas en carpetas por favor). Asi las puedo
  ver yo, y las conservan ustedes. No los compriman, que estén los HTML/CSS/JS
  tal cual.
</p>

<p>Las actividades que quiero que suban son:</p>

<ul>
  <li>Mi Receta Favorita</li>
  <li>Streaming ARG</li>
</ul>
<p>
  <strong
    >IMPORTANTE: No importa si no terminaron alguna, subanlas tal cual las
    tengan.</strong
  >
</p>

<p>¿Como hacer esto de una forma fácil? Pueden seguir estas instrucciones:</p>

<ol>
  <li>
    Clonar el repositorio a su computadora. Localizar en que carpeta se guardó.
  </li>
  <li>
    Copiar y Pegar los archivos dentro de la carpeta en donde se clonó el
    repositorio.
  </li>
  <li>Stagear los cambios</li>
  <li>Hacer un commit (Recuerden escribirle un mensaje).</li>
  <li>Hacer un push.</li>
</ol>
<p>¡Listo!</p>

<p>
  Si no me dieron absolutamente nada de bola durante la clase ( ¡Típico de <span
    x-text="$store.student.id !== -1?$store.student.name + ' ' +  $store.student.surname:'<nombre de estudiante>'"
  ></span>! ), pueden seguir esta guía: <a
    class="text-sh-blue"
    href="https://code.visualstudio.com/docs/sourcecontrol/intro-to-git"
    >https://code.visualstudio.com/docs/sourcecontrol/intro-to-git</a
  >. <strong>IMPORTANTE: </strong> quieren <em>clonar</em> un repositorio, no inicializar
  uno nuevo. El repositorio ya se los estoy dando de regalo yo.
</p>
