---
export const partial = true;
---

<h2>Consigna Base</h2>
<p>
  Queremos armar un sistema para registrar turnos para atender en una guardia.
  En particular, contamos con 3 opciones de guardia: guardia clínica, pediatría,
  y traumatología. Nuestro programa debe poder registrar nombre/s, apellido/s
  del paciente y a que tipo de guardia desea atenderse.
</p>
<p>
  Para eso, ya contamos con un formulario, con
  <code class="language-html">id="turnera"</code>, que tiene 2 inputs para
  texto, de ids "nombre" y "apellido" respectivamente. Además, para elegir la
  especialidad existen tres inputs tipo radio, de ids "clinica", "pediatria" y
  "traumatologia". Cerrando el formulario, "Sacar Turno" es un botón de tipo
  <em>submit</em>, es decir, cuando lo clickeo se envía un evento submit al
  formulario.
</p>
<p>
  Para mostrar la información, debemos reflejar lo ingresado en una tabla de
  <code class="language-html">id="tabla"</code> agregando una nueva fila a la tabla.
  Las filas son la etiqueta <code class="language-html">&lttr&gt</code> y cada celda
  es la etiqueta <code class="language-html">&lttd&gt</code>. Es decir, cada
  fila que agreguen debería quedarles:
</p>
<!-- prettier-ignore -->
de class="language-html">&lttr&gt
    &lttd&gtNombre&lt/td&gt
    &lttd&gtApellido&lt/td&gt
    &lttd&gtEspecialidad&lt/td&gt
&lt/tr&gt </code></pre>
<p>
  C
<p>
  Completen el archivo <em>main.js</em> para que cuando haya un evento "submit" en
  el formulario se agregue una nueva fila a la tabla.
</p>
<p><strong>Tips importantes:</strong></p>
<ul>
  <li>
    ¡No se olviden de prevenir el default de submit para que no recargue la
    página!
  </li>
  <li>
    Para determinar que elemento está seleccionado dado un conjunto de elementos
    tipo "radio", hay que chequear todos y ver cual tiene el atributo
    <code class="language-javascript">.checked</code> en
    <code class="language-javascript">true</code>. ¿Se acuerdan del if?
  </li>
  <li>
    Da bastante fiaca crear 4 objetos: 1 tr y 3td's. Pueden pasarle el html en
    forma de string si modifican el atributo
    <code class="language-javascript">.innerHTML</code> de la tabla. ¡Vean de agregarlo
    sin borrar lo anterior!
  </li>
</ul>
<h2>Consigna Manija</h2>
<p>
  Agregar una columna a la tabla, "eliminar", y que por cada nueva fila que
  agregan a la tabla, en esta cuarta columna hay un botón que cuando clickeado,
  elimine dicha fila.
</p>
<p>
  Para hacer este ejercicio, tienen que leer sobre buenas prácticas para lidiar
  con eventos de elementos creados dinámicamente (eventos creados mediante JS).
  Lo pueden hacer en este link:
  <a href="https://davidwalsh.name/event-delegate"
    >https://davidwalsh.name/event-delegate</a
  >.
</p>
<p>Algunos tips (además de leer el artículo que les dejé)</p>
<ul>
  <li>
    Van a tener que usar el parámetro event de forma más exhaustiva. Recuerden
    que es un objeto y se pueden mover entre sus atributos. Uno importante para
    esta actividad son el atributo
    <code class="language-javascript">.target</code> que es el elemento que realizó
    el evento.
  </li>
  <li>
    Los objetos que representan tags de HTML tienen muchos atributos, pero
    algunos importantes para esta actividad son el atributo
    <code class="language-javascript">.parentElement</code> que tiene al elemento
    que contiene, o "padre", del elemento que lo llama. Otro atributo importante
    es <code class="language-javascript">.tagName</code> que devuelve el nombre del
    tag del elementos en mayúsculas.
  </li>
  <li>
    Hay muchas formas de eliminar un elemento, pero una de ellas es setear su
    atributo <code class="language-javascript">.outerHTML</code> en "". Otra es llamar
    a la función del atributo
    <code class="language-javascript">.remove</code>, de la forma
    <code class="language-javascript">&ltelemento-a-eliminar&gt.remove()</code>.
  </li>
</ul>
