---
export const partial = true;
---

<h2>Consigna</h2>
<p>
  ¿Qué sectores son los que más producen gases de efecto invernadero? Para
  saber, y para aprender git y github, realicen la siguiente actividad.
  <strong>Para esta actividad necesitan trabajar en parejas.</strong> Para mayor
  claridad, uno va a ser <strong>A</strong> y el otro <strong>B</strong>. Pueden
  googlear cosas de HTML y CSS, pero les pido para que la actividad tenga gracia
  que no googleen datos respecto a los gases de efecto invernadero en argentina.
</p>
<p>Los sectores con los que vamos a trabajar son:</p>
<ul>
  <li>Agricultura</li>
  <li>Ganadería</li>
  <li>Cambio de usos de suelos y silvicultura</li>
  <li>Procesos industriales</li>
  <li>Generación de electricidad</li>
  <li>Fabricación de combustibles</li>
  <li>Combustibles industrias</li>
  <li>Combustibles residencial</li>
  <li>Combustibles otros sectores</li>
  <li>Transporte</li>
  <li>Residuos sólidos urbanos</li>
  <li>Aguas residuales</li>
  <li>Emisiones fugitivas</li>
</ul>
<h3>Parte 1</h3>
<p>¿Se les ocurre que rubro ocupa que lugar?</p>
<ol>
  <li>
    <strong>A</strong> va a adivinar que rubros ocupan el primero y segundo puesto,
    y <strong>B</strong> los que ocupan los últimos dos puestos. Modifiquen la sección
    "Inventario por subsector" para que refleje esta elección.
  </li>
  <li>Ambos realicen un commit.</li>
  <li><strong>A</strong> pushea primero.</li>
  <li><strong>B</strong> pullea.</li>
</ol>
<p>
  ¿Qué ocurrió? Si coincidieron en rubros, arreglenlo para que no se repitan.
  Luego de ver que pasó entre ambos, <strong>B</strong> pushea y luego
  <strong>A</strong> pullea.
</p>
<h3>Parte 2</h3>
<ol>
  <li>
    Ambos completen el orden completo de forma independiente, osea, sin decirle
    al otro que hizo. Es muy poco probable que les haya quedado igual, y esta
    actividad un poco juega con la idea de que les haya quedado distinto.
  </li>
  <li><strong>B</strong> pushea.</li>
  <li><strong>A</strong> pullea.</li>
</ol>
<p>
  ¿Qué ocurrió? Salvo que haya ocurrido un milagro, deberían tener versiones
  distintas, y el programa les avisa. Acuerden una solución en conjunto y
  completen la sección con dicha solución. <strong>A</strong> pushea y luego
  <strong>B</strong> pullea.
</p>
