---
import ImportantBox from "../../../../components/misc/alertbox/ImportantBox.astro";

export const partial = true;
---

<p>
  En la vida, pero en particular en programación, tenemos el problema de
  versiones de archivos. ¿Cuántas veces les pasó de tener archivos con nombre
  <em> _final, _final_final, _final_POSTA, _final_POSTA_estesi</em>? Para eso,
  usamos un programa para organizar versiones, <code>git</code>, y un servicio
  de nube para poder manejar estas versiones a través de la web,
  <code>Github</code>. Vamos a aprender a usarlo en clase, pero necesito que
  <strong>de tarea</strong> hagan algunas cosas. Ya se, ya se, tarea, pero es solo
  crear una cuenta.
</p>
<h2>Cuenta de Github</h2>
<p>
  Para poder usar el servicio de nube de git, hay muchas opciones. Nosotros
  vamos a usar Github, un servicio de microsoft. Haganse una cuenta en este
  link: <a href="https://github.com/">https://github.com/</a>.
  <strong>Les conviene usar su mail personal</strong>. Es probable que la usen
  fuera del colegio, e incluso si no, es una forma de mostrar el trabajo que
  estuvieron haciendo durante años.
</p>
<ImportantBox>
  <p>
    Esta cuenta es muy muy importante. La van a usar para esta materia, para
    proyecto, para todo TIC y probablemente para sus eventuales trabajos. Por
    eso:
  </p>
  <ul class="list-disc list-inside">
    <li>
      Tómense el tiempo de setupear 2FA (<em>2 Factor Authentication</em>) ¡No
      vayan a perder la cuenta!
    </li>
    <li>
      Usen un mail personal, no el del colegio, asi la pueden usar cuando se
      egresen. Pueden agregar el mail del colegio como segundo mail después, así
      obtienen beneficios de estudiantes.
    </li>
  </ul>
</ImportantBox>
