---
import CodeBlock from "../../../components/articles/code-block/CodeBlock.astro";

export const partial = true;
---

<p>
  <strong
    >¡NO SE OLVIDEN DE ARMAR EL .gitignore para excluir todo lo que no quieren
    commitear!</strong
  >
  Veo un node_modules pusheado y se llevan la materia automáticamente.
</p>
<p>
  Este TP, obviamente, usa SoqueTIC. Para instalarlo, pueden hacerlo igual que
  cualquier otra librería usando npm:
  <code class="language-bash">npm i soquetic</code>
</p>
<p>
  Para levantar el frontend hay que usar, como siempre, LiveServer. El archivo
  index.html te permite recorrer los distintos puntos de la consigna.
</p>
<p>
  <strong
    >Para hacer estas consignas traten de resolver con las herramientas que
    saben, no buscar en gpt o tirar magia de javascript que no entiendad
    (funciones <code class="language-javascript">find</code>,
    <code class="language-javascript">filter</code>, o menos que menos
    <code class="language-javascript">reduce</code>)</strong
  >. No solo ya vamos a ver muchas de ellas, sino que el objetivo de esta
  actividad es que aprendan a pensar, no tanto que resuelvan.
</p>
<h2>Punto 0 (setup)</h2>
<p>
  Esta actividad se hace construyendo un backend en Node JS usando SoqueTIC.
  Además, necesitamos saber responder a un primer mensaje por SoqueTIC,
  <em>"provinciasYDepartamentos"</em>. Este debe devolver un objeto que contenga
  dos atributos, provincias y departamentos, que contengan el contenido de
  provincias.json y departamentos.json respectivamente.
</p>
<p>
  <strong
    >Sin el punto 0 bien hecho no pueden correr ninguno de los otros puntos</strong
  >
</p>
<h2>Punto 1</h2>
<p>
  La sociedad rural nos pidió construir una web para divulgar datos sobre los
  distintos bovinos del país. Contamos con esa base de datos en el archivo
  <code class="language-bash">vacas.json</code>. Para la primera parte, queremos
  poder buscar dado un año, provincia, departamento y tipo de bovino, cuantos
  hay.
</p>
<p>
  Responder al evento <em>"datosBovinos"</em>, que recibe un objeto de 4
  atributos, año, provincia (que contiene el <strong>id</strong> de la provincia),
  departamento (que contiene el <strong>id</strong> del departamento) y bovino. Usando
  la información de vacas.json, debe devolver la cantidad de bovinos que hay en ese
  año, provincia, departamento y tipo de bovino. Por ejemplo, si se envía el objeto:
</p>
<CodeBlock
  lang="js"
  code={`
  año: 2010,
  provincia: 70,
  departamento: 70119,
  bovino: "vaquillonas"
}`}
/>

<p>
  debe devolver 2785. Para que prueben, esos datos corresponden a la provincia
  de San Juan, departamento de Valle Fértil.
</p>
<h2>Punto 2</h2>
<p>
  Responder al evento <em>"datosAñoProvincia"</em> que recibe un objeto con dos atributos:
  año y provincia (que contiene el id, no el nombre).
</p>
<p>
  Devolver una lista con todos los objetos de vacas.json que cumplan con ser de
  la provincia y el año especificado por el objeto recibido.
</p>
<h2>Punto 3 (MANIJA)</h2>
<p>
  Responder al evento <em>"variacionPorProvincia"</em> con una lista que contenga
  objetos de la forma:
</p>
<ol>
  <li>Atributo "nombre", con el nombre de la provincia</li>
  <li>
    La variación de la cantidad de bovinos entre el año 2013 y 2019, es decir,
    <strong
      >el porcentaje de aumento o disminución entre el total de bovinos por
      provincia</strong
    >
    para el total de bovinos para cada categoría (vacas, novillos, novillitos, terneros,
    terneras, toros, toritos, bueyes). Es decir, tiene que haber un atributo por
    cada categoría.
  </li>
</ol>
<p>
  Por ejemplo, en Tierra del Fuego había 19767 vacas en el año 2013 (suma entre
  todos los departamentos). En 2019, 24546. Es decir, las vacas aumentaron en un
  24% ( (24546 - 19767)/19767 x 100 ).
</p>
<p>
  En caso de que haya 0 de un tipo en 2013 (que en la cuenta anterior daría
  división por 0), se considera un 100% de aumento si en 2019 hay cabezas, y un
  0% si sigue en 0.
</p>
<p>
  <strong>SUGERENCIA:</strong> para hacer este ejercicio, se sugiere hacer lo siguiente
</p>
<ol>
  <li>
    Primero, acumular el total de bovinos por provincia para cada año, 2013 y
    2019.
  </li>
  <li>
    Luego, ir categoría por categoría comparando ambas acumulaciones haciendo la
    cuenta descrita anteriormente.
  </li>
  <li>Asegurarse que el resultado tiene el formato descrito en la consigna.</li>
</ol>
