---
export const partial = true;
---

<h2>BÁSICO</h2>
<div>
  <div>
    <h2>UNIDAD 1</h2>
    <div>
      <span>Unidad de Prueba A</span>
    </div>
  </div>
  <ul>
    <li>Tema 1</li>
    <li>Tema 2</li>
    <li>Tema 3</li>
  </ul>
</div>
<h2>AVANZADO</h2>
<div>
  <div>
    <h2>UNIDAD 2</h2>
    <div>
      <span>Unidad de Prueba B</span>
    </div>
  </div>
  <ul>
    <li>Tema 4</li>
    <li>Tema 5</li>
    <li>Tema 6</li>
  </ul>
</div>
