---
import SectionLayout from "../SectionLayout.astro";
import TimetableGrid from "./TimetableGrid.astro";

interface Props {
  position: number;
}

const { position } = Astro.props;
---

<script>
  import timetableData from "../../../scripts/alpine/data/timetable";
  import setAlpineData from "../../../scripts/alpine/setAlpineData";

  setAlpineData("timetableData", timetableData);
</script>
<SectionLayout name="horarios" position={position} xData="timetableData()">
  <h1 class="text-[36px] font-bold text-center p-4">
    Horarios 2do Cuatrimestre
  </h1>
  <TimetableGrid />
</SectionLayout>
