---
import SectionLayout from "../SectionLayout.astro";

interface Props {
  subject: string;
  position: number;
}

const { position, subject } = Astro.props;
---

<script></script>
<SectionLayout name="horarios" position={position}>
  <h1 class="text-[36px] font-bold text-center p-4">
    Horarios 2do Cuatrimestre
  </h1>
  <template x-if="Object.keys($store.student.timetable).length === 0">
    <p>Proximamente...</p>
  </template>
  <template x-if="Object.keys($store.student.timetable).length > 0">
    <div
      class="grid grid-cols-[40px_repeat(5,minmax(0,1fr))] grid-rows-[60px_repeat(3,minmax(0,1fr))_12px_repeat(3,minmax(0,1fr))] items-stretch border-gray-400 border-2 w-full max-w-full rounded-xl overflow-hidden"
    >
      <span class="col-start-2 text-center">Lunes</span>
      <span class="col-start-3 text-center">Martes</span>
      <span class="col-start-4 text-center">Miércoles</span>
      <span class="col-start-5 text-center">Jueves</span>
      <span class="col-start-6 text-center">Viernes</span>
      <span class="col-start-1 row-start-2 text-center">1</span>
      <span class="col-start-1 row-start-3 text-center">2</span>
      <span class="col-start-1 row-start-4 text-center">3</span>
      <div class="col-span-full row-start-5 bg-gray-400"></div>
      <span class="col-start-1 row-start-6 text-center">4</span>
      <span class="col-start-1 row-start-7 text-center">5</span>
      <span class="col-start-1 row-start-8 text-center">6</span>
    </div>
  </template>
</SectionLayout>
