---
export const partial = true;
---

<p>
  Practica SQL 
  <a href="https://docs.google.com/document/d/e/2PACX-1vTDmwXJphhtfosGS5ubY9UFVYx15WzqTE3t4EGq0ulggdVqRpvmbRNiDpW3s-Ng4Hy6Fc919nzkGqyL/pub"
</a>
</p>

