<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Documento embebido</title>
  <style>
    html, body {
      margin: 0;
      padding: 0;
      height: 100%;
    }
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <iframe src="https://docs.google.com/document/d/e/2PACX-1vTDmwXJphhtfosGS5ubY9UFVYx15WzqTE3t4EGq0ulggdVqRpvmbRNiDpW3s-Ng4Hy6Fc919nzkGqyL/pub?embedded=true"></iframe>
</body>
</html>
