---
import InlineCodeBlock from "../../../../../../components/articles/code-block/InlineCodeBlock.astro";

export const partial = true;
---

<p>
  Antes de empezar, este trabajo usa una librería para tomar input del usuario
  desde la consola, <em>readline-sync</em>, y otra para colorcitos lindos en la
  terminal, <em>chalk</em>. Como en el package.json que les doy ya está
  configurado, solo deben correr el comando
  <InlineCodeBlock lang="bash" code="npm install" /> para instalarlo.
</p>
<p>
  <strong>IMPORTANTE: </strong>node_modules es pesadísimo, y no se pushea. Total
  no hace falta, con <InlineCodeBlock lang="bash" code="npm install" /> se puede
  reconstruir. Para evitar pushearlo, tienen dos opciones:
</p>
<ol>
  <li>
    Evitar en cada commit que se haga agregarlo. Esto es 100% de psicópata y las
    chances de que no le pifien en algún commit son 0.
  </li>
  <li>
    Hacer un <em>.gitignore</em> y agregar
    <strong>node_modules/</strong> para que no se suba.
  </li>
</ol>
<p>
  Este TP fui buenito <strong>y ya les di yo el .gitignore</strong>. A futuro lo
  van a tener que crear y armar ustedes. <strong
    >SI PUSHEAN NODE MODULES HAY TABLA.</strong
  >
</p>
<a
  href="https://imgflip.com/i/a3ce0g"
  class="flex justify-center items-center w-full my-2"
  ><img
    src="https://i.imgflip.com/a3ce0g.jpg"
    class="rounded-lg w-full max-w-[400px]"
    alt="meme simpsons hay tabla"
  /></a
>
<h2>Consigna Base</h2>
<p>
  Los pelados (dueños de la heladería) quieren construir un sistema automático
  para hacer pedidos de helado, ya que su empleado no para de comerse el helado
  y el negocio no está rindiendo.
</p>
<p>
  Vamos a hacer un primer boceto que solo usa la consola. Contamos ya armado un
  sistema que pide input del usuario con todos los datos necesarios, pero no
  está hecha la parte de tomar los datos y de guardado de pedidos.
</p>
<ol>
  <li>
    Cargar sabores.json en la variable
    <InlineCodeBlock lang="javascript" code="let sabores;" />.
  </li>
  <li>
    Cargar productos.json en la variable
    <InlineCodeBlock lang="javascript" code="let productos;" />.
  </li>
  <li>
    Guardar los datos del pedido que se encuentran en las variables
    <InlineCodeBlock lang="javascript" code="let cliente;" />,
    <InlineCodeBlock lang="javascript" code="let producto;" /> y
    <InlineCodeBlock lang="javascript" code="let saboresElegidos;" />
    . Guardar el cliente, el nombre del producto y los sabores elegidos en un objeto,
    que se
    <strong>agregue</strong>
    al array de pedidos que se encuentran en el archivo
    <em>pedidos.json</em>.
  </li>
</ol>

<h2>Consigna Manija</h2>
<p>
  Modificar el programa para que permita ingresar más de un producto por
  cliente. Guardar también el precio total del pedido. Les recomiendo leer y
  entender la parte de código mío para modificarlo y tomar ideas.
  <strong>TIP: </strong> Las LLMs (ChatGPT, Copilot, Claude, Gemini, etc.)lo explican
  bastante bien. Son medio ideales para este tipo de tareas. No le pidan que lo haga,
  solo que explique lo que hay. Tiene 0 gracia que lo haga la IA, ¡más un extra!.
  Literalemente no suma nota, es solo aura farming.
</p>
