---
export const partial = true;
---

<div>
  <div>
    <h2>UNIDAD 1</h2>
    <div>
      <span>Monty Python y los fundamentos de programación</span>
    </div>
  </div>
  <ul>
    <li>Ciclos (while, for y for each)</li>
    <li>Listas</li>
    <li>Diccionarios</li>
    <li>Funciones</li>
  </ul>
</div>

<div>
  <div>
    <h2>UNIDAD 2</h2>
    <div>
      <span>Dimensionando la materia</span>
    </div>
  </div>
  <ul>
    <li>Librerías</li>
    <li>Numpy</li>
    <li>Arrays multidimensionales/matrices</li>
    <li>Pandas</li>
    <li>Matplotlib</li>
  </ul>
</div>
