---
export const partial = true;
---

<div>
  <div>
    <h2>UNIDAD 1</h2>
    <div>
      <span>Monty Python y los fundamentos de programación</span>
    </div>
  </div>
  <ul>
    <li>Ciclos (while, for y for each)</li>
    <li>Listas</li>
    <li>Diccionarios</li>
    <li>Funciones</li>
  </ul>
</div>

<div>
  <div>
    <h2>UNIDAD 2</h2>
    <div>
      <span>Dimensionando la materia</span>
    </div>
  </div>
  <ul>
    <li>Librerías</li>
    <li>Numpy</li>
    <li>Arrays multidimensionales/matrices</li>
  </ul>
</div>

<div>
  <div>
    <h2>UNIDAD 3</h2>
    <div>
      <span>Diplomacia China</span>
    </div>
  </div>
  <ul>
    <li>Pandas</li>
    <li>Gráficos y Matplotlib</li>
  </ul>
</div>

<div>
  <div>
    <h2>UNIDAD 4</h2>
    <div>
      <span>Mira ma, ¡Estoy analizando datos!</span>
    </div>
  </div>
  <ul>
    <li>Estadística: qué es y cómo se aplica</li>
    <li>Moda, mediana y media</li>
    <li>Cuartiles</li>
    <li>Varianza y desviación estándar</li>
    <li>Gráficos estadísticos</li>
  </ul>
</div>
