---
export const partial = true;
---

<h2>BÁSICO</h2>
<div>
  <div>
    <h2>UNIDAD 1</h2>
    <div>
      <span>Diseño y estructura de una Base de Datos</span>
    </div>
  </div>
  <ul>
    <li>DER</li>
    <li>DLR</li>
    <li>Lenguaje SQL</li>
    <li>PostgreSQL</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 2</h2>
    <div>
      <span>Programación Backend</span>
    </div>
  </div>
  <ul>
    <li>JavaScript</li>
    <li>NodeJS</li>
    <li>SQL desde JS</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 3</h2>
    <div>
      <span>Desarrollo de APIs</span>
    </div>
  </div>
  <ul>
    <li>Protocolo HTTP</li>
    <li>Express</li>
  </ul>
</div>
<h2>AVANZADO</h2>
<div>
  <div>
    <h2>UNIDAD 4</h2>
    <div>
      <span>Autenticación</span>
    </div>
  </div>
  <ul>
    <li>JWT</li>
    <li>Middlewares y librerias </li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 5</h2>
    <div>
      <span>ORM</span>
    </div>
  </div>
  <ul>
    <li>Librerias para gestion de datos</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 6</h2>
    <div>
      <span>Tecnologías</span>
    </div>
  </div>
  <ul>
    <li>Seguridad</li>
    <li>Cloud Computing</li>
    <li>Temas que surjan en los proyectos</li>
  </ul>
</div>
