---
export const partial = true;
---

<div>
    <div>
      <h2>Unidad 0</h2>
      <span><em>Loco, aprendan git de una vez</em></span>
    </div>
    <ul>
      <li>git en la shell</li>
      <li>add, commit, pull, push</li>
      <li>merge conflicts</li>
      <li>branching</li>
      <li>introducción a git flow</li>
    </ul>
</div>