---
export const partial = true;
---

<h2>BÁSICO</h2>
<div>
  <div>
    <h2>UNIDAD 1</h2>
    <div>
      <span>La Santa Trinidad Web</span>
    </div>
  </div>
  <ul>
    <li>Concepto de algoritmo</li>
    <li>Lenguajes de programación y sus características principales</li>
    <li>Terna HTML + CSS + JS</li>
    <li>Tags básicos de HTML</li>
    <li>Selectores simples de CSS</li>
    <li>Clases de CSS</li>
    <li>Git y Github</li>
    <li>Introducción a JS</li>
    <li>Variables y tipos de datos (<em>string y number</em>)</li>
    <li>Estructuras de control condicionales (<em>If/Else/Else If</em>)</li>
    <li>Operadores entre condicionales (<em>And/Or/Not</em>)</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 2</h2>
    <div>
      <span>Il DOM</span>
    </div>
  </div>
  <ul>
    <li>Funciones</li>
    <li>Eventos del DOM</li>
    <li>Objetos</li>
    <li>Maquetado a partir de diseño</li>
    <li>Manipulación del DOM</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 3</h2>
    <div>
      <span>You spin me round</span>
    </div>
  </div>
  <ul>
    <li>Estructuras repetitivas (<em>While/For</em>)</li>
    <li>Listas</li>
    <li>Iteración sobre listas</li>
  </ul>
</div>
<h2>AVANZADO</h2>
<div>
  <div>
    <h2>UNIDAD 4</h2>
    <div>
      <span>This is backend!</span>
    </div>
  </div>
  <ul>
    <li>Uso de la terminal</li>
    <li>Node JS</li>
    <li>NPM y Librerías</li>
    <li>Persistencia de archivos</li>
    <li>JSON</li>
    <li>SoqueTIC</li>
    <li>Búsquedas, filtrado, mapeo, contadores</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 5</h2>
    <div>
      <span>Cambalache</span>
    </div>
  </div>
  <ul>
    <li>Comunicación serial con arduino</li>
    <li>Async/Await</li>
    <li>API's</li>
    <li>Callbacks y funciones de alto orden</li>
  </ul>
</div>
