<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script src="/src/aux/htmx.js"></script>
    <title>TIC Campus</title>
  </head>
  <body>
    <slot />
  </body>
</html>
