---
import Stores from "../components/init/Stores.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    />
    <script src="/src/aux/htmx.js"></script>
    <title>TIC Campus</title>
  </head>
  <body>
    <div
      class="w-full h-[calc(100vh-64px-1rem)] gap-x-4 flex font-lato relative"
      x-data="{}"
    >
      <slot />
    </div>
    <Stores />
    <script src="/src/components/init/main.ts"></script>
  </body>
</html>
