---
import CodeBlock from "../../../../../components/articles/code-block/CodeBlock.astro";
import InlineCodeBlock from "../../../../../components/articles/code-block/InlineCodeBlock.astro";

export const partial = true;
---

<h2>¿Qué es un programa? ¿Qué es un algoritmo?</h2>
<ul>
  <li>
    <em>Algoritmo</em>: una serie de pasos ordenados para resolver un problema o
    realizar una tarea.
  </li>
  <li>
    <em>Programa</em>: es un conjunto de instrucciones (algoritmos escritos en
    un lenguaje de programación) que puede entender y ejecutar una computadora.
  </li>
</ul>
<p>
  Los programas se ejecutan en orden, instrucción por instrucción, como una
  serie de pasos.
</p>
<p>
  Para esta materia, vamos a trabajar con Javascript (no es lo mismo que Java,
  el de Minecraft). En particular, vamos a correr javascript en el contexto de
  un navegador (browser, como Chrome, Firefox, Edge, etc.)
</p>
<h2>¿Cómo correr código JavaScript en el navegador?</h2>
<ol>
  <li>
    <strong>Crear un archivo HTML</strong> con un bloque <InlineCodeBlock
      lang="html"
      code="<script>"
    /> que vincula el archivo .js. Por ejemplo:
  </li>
  <CodeBlock
    lang="html"
    code={`<!-- index.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Mi primer programa JS</title>
  </head>
  <body>
    <h1>Primeros Pasos Programando</h1>
    <script src="script.js"></script>
  </body>
</html>`}
  />
  <li><strong>Crear el archivo JS</strong> en la misma carpeta:</li>
  <CodeBlock
    lang="javascript"
    code={`// script.js
console.log("¡Funciona!");`}
    `
  />
  <li>
    <strong>Abrir el archivo HTML en el navegador</strong>, ya sea con doble
    clic o con clic derecho &gt; "Abrir con" &gt; navegador
    (Chrome/Firefox/Edge/etc.).
  </li>
  <li>
    Ver los resultados en la consola del <strong>navegador</strong>. Para esto,
    Hacé clic derecho &gt; "Inspeccionar" &gt; pestaña Consola (Console).
  </li>
</ol>
<h2>Variables</h2>
<p>
  Una variable es un espacio donde podemos guardar un dato para usarlo más
  adelante.
</p>
<p>
  En JavaScript, podemos crear una variable con la palabra clave <em>let</em>:
</p>
<CodeBlock
  lang="javascript"
  code={`let nombre = "Ana";
let edad = 15;`}
/>
<p>
  Podemos cambiar su valor después. No hace falta usar <em>let</em> porque la variable
  ya fue creada.
</p>
<CodeBlock
  lang="javascript"
  code={`nombre = "Juan";
`}
/>
<p>
  Puede que al googlear aparezcan otras formas de declarar variables como <em
    >var</em
  > y <em>const</em>. Por ahora, pueden reemplazarlas sin problemas por <em
    >let</em
  >
</p>
<h2>Instrucciones básicas</h2>
<ol>
  <li>
    <InlineCodeBlock lang="javascript" code="console.log(...)" />
    <p>
      Sirve para <strong>mostrar un mensaje en la consola</strong> del navegador
      (útil para probar el código):
    </p>
  </li>
  <CodeBlock lang="javascript" code={`console.log("Oh Hi Mark!");`} />
  <li>
    <InlineCodeBlock lang="javascript" code="prompt(...)" />
    <p>
      Sirve para <strong>pedirle algo al usuario</strong>, como si fuera una
      pregunta. En el navegador se ve como una ventana emergente (popup) que
      para la ejecución hasta que el usuario responda.
    </p>
  </li>
  <CodeBlock
    lang="javascript"
    code={`let nombre = prompt("¿Cómo te llamás?");
console.log("Hola " + nombre);`}
  />
  <li><InlineCodeBlock lang="javascript" code="alert(...)" /></li>
  <p>Sirve para mostrar un mensaje en una ventana emergente (popup):</p>
  <CodeBlock lang="javascript" code={`alert("Bienvenido al sitio");`} />
</ol>
