---
import MarkTable from "../misc/MarkTable.astro";
import RecoveredChip from "../misc/RecoveredChip.astro";
---

<template x-if="$store.marks.specialActivities().length > 0">
  <div class="flex flex-col gap-y-2 py-4 border-t-2 border-gray-300">
    <h2 class="text-[20px] md:text-[24px] font-semibold">
      Actividades obligatorias
    </h2>
    <p class="text-[14px] md:text-[16px] text-gray-600">
      Todas las actividades que es necesario tener completas para poder aprobar.
    </p>
    <MarkTable columns="['Actividad', 'Estado']"
      ><template x-for="activity in $store.marks.specialActivities()">
        <tr
          class="border-t border-gray-400"
          x-data="{redo: activity.inRevision}"
        >
          <td class="text-[14px] md:text-[16px] p-2">
            <span x-text="activity.name"></span>
          </td>
          <td class="p-2">
            <RecoveredChip recovered="activity.madeUp">
              <div
                class="rounded-full flex justify-center items-center px-2 py-1 gap-x-2 border"
                x-bind:class="{
                          'bg-sh-light-yellow  border-sh-medium-yellow text-sh-yellow': redo,
                      'bg-sh-light-green border-sh-medium-green text-sh-green': activity.done && !redo,
                      'bg-sh-light-red border-sh-medium-red text-sh-red': !activity.done && !redo
                    }"
              >
                <span
                  class="material-symbols-outlined text-[16px]! md:text-[20px]!"
                  x-text="redo ? 'more_horiz' : (activity.done ? 'check' : 'close')"
                ></span>
                <span
                  class="text-[14px] md:text-[16px]"
                  x-text="(()=>{
                          if(redo){
                            return 'En Revisión'
                          }
                          if(activity.comment) {
                            return activity.comment;
                          } else if(activity.done){
                            return 'Completa'
                          } else {
                            return 'Pendiente'
                          }
                        })()"
                >
                </span>
              </div>
            </RecoveredChip>
          </td>
        </tr>
      </template></MarkTable
    >
  </div>
</template>
