---
export const partial = true;
---

<div>
  <div>
    <h2>UNIDAD 0</h2>
    <div>
      <span>Repaso</span>
    </div>
  </div>
  <ul>
    <li>Instalación de VSCode</li>
    <li>TP00 - Movilidad Urbana</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 1</h2>
    <div>
      <span>Colecciones</span>
    </div>
  </div>
  <ul>
    <li>Diccionarios</li>
    <li>Listas</li>
    <li>Repaso de tipos de datos</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 2</h2>
    <div>
      <span>MVC</span>
    </div>
  </div>
  <ul>
    <li>Separación de responsabilidades</li>
    <li>Modelos, vistas y controladores</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 3</h2>
    <div>
      <span>Formularios y validación</span>
    </div>
  </div>
  <ul>
    <li>Creación de formularios</li>
    <li>Validación de datos usando JavaScript</li>
  </ul>
</div>