---
export const partial = true;
---

<h2>BÁSICO</h2>
<div>
  <div>
    <h2>UNIDAD 1</h2>
    <div>
      <span>La Santa Trinidad Web</span>
    </div>
  </div>
  <ul>
    <li>Concepto de algoritmo</li>
    <li>Lenguajes de programación y sus características principales</li>
    <li>Terna HTML + CSS + JS</li>
    <li>Tags básicos de HTML</li>
    <li>Selectores simples de CSS</li>
    <li>Clases de CSS</li>
    <li>Git y Github</li>
    <li>Introducción a JS</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 2</h2>
    <div>
      <span>true o false, esa es la cuestión</span>
    </div>
  </div>
  <ul>
    <li>Booleanos</li>
    <li>Estructuras de control condicionales (<em>If/Else/Else If</em>)</li>
    <li>Operadores entre booleanos (<em>And/Or/Not</em>)</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 3</h2>
    <div>
      <span>Tipos, Terminal y otras cosas con T</span>
    </div>
  </div>
  <ul>
    <li>Node JS</li>
    <li>NPM y Librerías</li>
    <li>Typescript</li>
    <li>Tipos de datos</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 4</h2>
    <div>
      <span>Llamado de emergencia</span>
    </div>
  </div>
  <ul>
    <li>Funciones</li>
    <li>Parámetros y retorno</li>
    <li>Tipado de funciones</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 5</h2>
    <div>
      <span>You spin me round</span>
    </div>
  </div>
  <ul>
    <li>Estructuras repetitivas (<em>While/For</em>)</li>
    <li>Listas</li>
    <li>Iteración sobre listas</li>
  </ul>
</div>
<h2>AVANZADO</h2>
<div>
  <div>
    <h2>UNIDAD 6</h2>
    <div>
      <span>La red que nos recorre</span>
    </div>
  </div>
  <ul>
    <li>Protocolo HTTPS</li>
    <li>GET/POST</li>
    <li>APIs</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 7</h2>
    <div>
      <span>Las bases de los datos</span>
    </div>
  </div>
  <ul>
    <li>Express</li>
    <li>Persistencia de archivos</li>
    <li>Objetos</li>
    <li>JSON</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 8</h2>
    <div>
      <span>OK Computer</span>
    </div>
  </div>
  <ul>
    <li>Búsquedas y filtrado</li>
    <li>Mapeo, acumuladores y reducciones</li>
  </ul>
</div>
<div>
  <div>
    <h2>UNIDAD 9</h2>
    <div>
      <span>Cambalache</span>
    </div>
  </div>
  <ul>
    <li>Comunicación serial con arduino</li>
    <li>Async/Await</li>
    <li>Callbacks y funciones de alto orden</li>
  </ul>
</div>
