---
export const partial = true;
---

<div>
  <div>
    <h2>Unidad 0</h2>
    <span><em>Loco, aprendan git de una vez</em></span>
  </div>
  <ul>
    <li>git en la shell</li>
    <li>add, commit, pull, push</li>
    <li>merge conflicts</li>
    <li>branching</li>
    <li>introducción a git flow</li>
  </ul>
</div>
<div>
  <div>
    <h2>Unidad 1</h2>
    <span><em>Viejos discos, nuevos discos</em></span>
  </div>
  <ul>
    <li>Variables y tipos de datos</li>
    <li>Condiciones</li>
    <li>Ciclos no acotado (while)</li>
    <li>Listas, arrays y diccionarios</li>
    <li>Librería random y numpy</li>
    <li>Uso de VSCode</li>
    <li>Ciclo acotado (for loop) en python</li>
    <li>Iteración en matrices</li>
    <li>Funciones en python</li>
    <li>Parametrización</li>
  </ul>
</div>
<div>
  <div>
    <h2>Unidad 2</h2>
    <span><em>A testear mi amor, vamos a testear mi amor</em></span>
  </div>
  <ul>
    <li>Ventajas y limitaciones de testing</li>
    <li>Testing de caja negra y caja blanca</li>
    <li>Armado de tests</li>
    <li>Desarrollo con tests</li>
    <li>Line Coverage</li>
    <li>Control Flow Graph</li>
    <li>Branch Coverage</li>
  </ul>
</div>
<div>
  <div>
    <h2>Unidad 3</h2>
    <span><em>Raros objetos nuevos</em></span>
  </div>
  <ul>
    <li>Introducción a JavaScript</li>
    <li>Objetos: atributos y métodos</li>
    <li>DOM</li>
    <li>Desarrollo front end HTML + CSS + JS</li>
  </ul>
</div>
<div>
  <div>
    <h2>Unidad 4</h2>
    <span><em>No voy en tren, voy en avión</em></span>
  </div>
  <ul>
    <li>Clases y objetos</li>
    <li>Métodos y atributos</li>
    <li>Constructores</li>
    <li>Toma de decisiones para el diseño de objetos</li>
    <li>Mensajes y double dispatch</li>
  </ul>
</div>
