---
import SectionLayout from "../SectionLayout.astro";
import FixedMarks from "./sections/FixedMarks.astro";
import Summary from "./summary/Summary.astro";
import RecoveredChip from "./misc/RecoveredChip.astro";
import Redos from "./sections/Redos.astro";

interface Props {
  subject: string;
  position: number;
}

const { position, subject } = Astro.props;
---

<script>
  import studentMarkStore from "../../../scripts/alpine/stores/marks";
  import markSummaryData from "../../../scripts/alpine/data/marks/markSummary";
  import fixedMarksData from "../../../scripts/alpine/data/marks/fixedMarks";
  import redosMarkData from "../../../scripts/alpine/data/marks/redos";

  document.addEventListener("alpine:init", () => {
    Alpine.store("marks", studentMarkStore());
    Alpine.data("markSummary", markSummaryData);
    Alpine.data("redoMarkData", redosMarkData);
    Alpine.data("fixedMarks", fixedMarksData);
  });
</script>
<template
  x-if="!$store.marks.loading"
  x-effect=`if($store.student.id){$store.marks.start('${subject}',$store.student.name,$store.student.surname,$store.student.course,$store.student.id)}`
>
  <SectionLayout name="nota" position={position}>
    <h1 class="text-[36px] font-bold text-center p-4">Nota</h1>
    <Summary subject={subject} />
    <div class="flex flex-col gap-y-2 py-4 border-t-2 border-gray-300">
      <h2 class="text-[20px] md:text-[24px] font-semibold">Nota promedio</h2>
      <p class="text-gray-600">
        La nota promedio se compone en un
        <span x-text="$store.marks.markData.proportion*100"></span>% promediando
        las actividades con nota y en un
        <span x-text="Math.round((1 - $store.marks.markData.proportion)*100)"
        ></span>% por la proporción de actividades hechas en clase.
      </p>
      <div class="w-full flex justify-center">
        <div class="flex flex-col items-center py-4 max-w-2xl w-4/5">
          <svg
            class="max-sm:hidden w-full"
            xmlns="http://www.w3.org/2000/svg"
            version="1.1"
            viewBox="0 0 440 100"
          >
            <line x1="20" y1="0" x2="20" y2="60" class="stroke-gray-400"></line>
            <text x="15" y="80" class="fill-gray-400">0</text>
            <line x1="60" y1="0" x2="60" y2="60" class="stroke-gray-400"></line>
            <text x="55" y="80" class="fill-gray-400">1</text>
            <line x1="100" y1="0" x2="100" y2="60" class="stroke-gray-400"
            ></line>
            <text x="95" y="80" class="fill-gray-400">2</text>
            <line x1="140" y1="0" x2="140" y2="60" class="stroke-gray-400"
            ></line>
            <text x="135" y="80" class="fill-gray-400">3</text>
            <line x1="180" y1="0" x2="180" y2="60" class="stroke-gray-400"
            ></line>
            <text x="175" y="80" class="fill-gray-400">4</text>
            <line x1="220" y1="0" x2="220" y2="60" class="stroke-gray-400"
            ></line>
            <text x="215" y="80" class="fill-gray-400">5</text>
            <line x1="260" y1="0" x2="260" y2="60" class="stroke-gray-400"
            ></line>
            <text x="255" y="80" class="fill-gray-400">6</text>
            <line x1="300" y1="0" x2="300" y2="60" class="stroke-gray-400"
            ></line>
            <text x="295" y="80" class="fill-gray-400">7</text>
            <line x1="340" y1="0" x2="340" y2="60" class="stroke-gray-400"
            ></line>
            <text x="335" y="80" class="fill-gray-400">8</text>
            <line x1="380" y1="0" x2="380" y2="60" class="stroke-gray-400"
            ></line>
            <text x="375" y="80" class="fill-gray-400">9</text>
            <line x1="420" y1="0" x2="420" y2="60" class="stroke-gray-400"
            ></line>
            <text x="410" y="80" class="fill-gray-400">10</text>
            <line
              x-show="$store.marks.markData.markedActivitiesContribution >= 0.5"
              x1="30"
              y1="30"
              y2="30"
              x-bind:x2="40*$store.marks.markData.markedActivitiesContribution + 10"
              stroke-linecap="round"
              class="stroke-sh-purple stroke-[20]"></line>
            <line
              x-show="$store.marks.markData.classActivitiesContribution >= 0.5"
              y1="30"
              y2="30"
              x-bind:x1="40*$store.marks.markData.classActivitiesContribution + 30"
              x-bind:x2="40*($store.marks.markData.classActivitiesContribution + $store.marks.markData.markedActivitiesContribution) + 10"
              stroke-linecap="round"
              class="stroke-sh-blue stroke-[20]"></line>
          </svg>
          <div
            class="flex flex-col md:grid grid-cols-[2fr_30px_2fr_30px_1fr] grid-rows-2"
          >
            <div class="flex justify-center gap-x-2 text-[16px] items-center">
              <div
                class="max-md:hidden rounded-full h-[16px] w-[16px] bg-sh-purple"
              >
              </div>
              <span>Actividades con nota</span>
            </div>
            <div
              class="max-md:order-4 col-start-3 flex justify-center gap-x-2 text-[16px] items-center"
            >
              <div
                class="max-md:hidden rounded-full h-[16px] w-[16px] bg-sh-blue"
              >
              </div>
              <span>Actividades de clase</span>
            </div>
            <div
              class="max-md:order-7 col-start-5 flex justify-center gap-x-2 text-[16px] items-center"
            >
              <span>Promedio</span>
            </div>
            <div
              class="max-md:order-2 row-start-2 flex justify-center gap-x-2 text-[20px] items-center text-sh-purple"
            >
              <span x-text="$store.marks.markData.markedActivitiesContribution"
              ></span>
            </div>
            <div
              class="max-md:order-3 row-start-2 flex justify-center gap-x-2 text-[20px] items-center"
            >
              <span>+</span>
            </div>
            <div
              class="max-md:order-5 row-start-2 flex justify-center gap-x-2 text-[20px] items-center text-sh-blue"
            >
              <span x-text="$store.marks.markData.classActivitiesContribution"
              ></span>
            </div>
            <div
              class="border-t border-sh-black md:border-t-0 max-md:order-6 row-start-2 flex justify-center gap-x-2 text-[20px] items-center"
            >
              <span class="max-md:hidden"> = </span>
            </div>
            <div
              class="max-md:order-8 row-start-2 flex justify-center gap-x-2 text-[20px] items-center"
            >
              <span x-text="$store.marks.markData.averageMark"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Redos subject={subject} />
    <div class="flex flex-col gap-y-2 py-4 border-t-2 border-gray-300">
      <h2 class="text-[20px] md:text-[24px] font-semibold">
        Actividades obligatorias
      </h2>
      <p class="text-[14px] md:text-[16px] text-gray-600">
        Todas las actividades que es necesario tener completas para poder
        aprobar.
      </p>
      <div class="flex justify-center">
        <div
          class="border-gray-400 border-2 w-full max-w-full md:w-4/5 md:min-w-80 md:max-w-4xl rounded-xl overflow-hidden"
          x-show="$store.marks.specialActivities().length > 0"
        >
          <table class="border-collapse w-full">
            <thead class="bg-gray-300 text-gray-600">
              <tr>
                <th class="text-[14px] md:text-[16px] p-2">Actividad</th>
                <th class="text-[14px] md:text-[16px] p-2">Estado</th>
              </tr>
            </thead>
            <tbody>
              <template x-for="activity in $store.marks.specialActivities()">
                <tr
                  class="border-t border-gray-400"
                  x-data="{redo: activity.inRevision}"
                >
                  <td class="text-[14px] md:text-[16px] p-2">
                    <span x-text="activity.name"></span>
                  </td>
                  <td class="p-2">
                    <RecoveredChip recovered="activity.madeUp">
                      <div
                        class="rounded-full flex justify-center items-center px-2 py-1 gap-x-2 border"
                        x-bind:class="{
                          'bg-sh-light-yellow  border-sh-medium-yellow text-sh-yellow': redo,
                      'bg-sh-light-green border-sh-medium-green text-sh-green': activity.done && !redo,
                      'bg-sh-light-red border-sh-medium-red text-sh-red': !activity.done && !redo
                    }"
                      >
                        <span
                          class="material-symbols-outlined text-[16px]! md:text-[20px]!"
                          x-text="redo ? 'more_horiz' : (activity.done ? 'check' : 'close')"
                        ></span>
                        <span
                          class="text-[14px] md:text-[16px]"
                          x-text="(()=>{
                          if(redo){
                            return 'En Revisión'
                          }
                          if(activity.comment) {
                            return activity.comment;
                          } else if(activity.done){
                            return 'Completa'
                          } else {
                            return 'Pendiente'
                          }
                        })()"
                        >
                        </span>
                      </div>
                    </RecoveredChip>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-y-2 py-4 border-t-2 border-gray-300">
      <h2 class="text-[20px] md:text-[24px] font-semibold">
        Actividades con nota
      </h2>
      <p class="text-[14px] md:text-[16px] text-gray-600">
        Todos las actividades/trabajos prácticos que reciben una nota numérica.
        Se aprueban con una nota mayor o igual a 6.
      </p>
      <div
        class="flex justify-center"
        x-data="{courseMarkedActivities: []}"
        x-effect="courseMarkedActivities = $store.course.activities.filter(act => act.type === 'Trabajo Práctico')"
      >
        <div
          class="border-gray-400 border-2 w-full max-w-full md:w-4/5 md:min-w-80 md:max-w-4xl rounded-xl overflow-hidden"
          x-show="courseMarkedActivities.length > 0"
        >
          <table class="border-collapse w-full">
            <thead class="bg-gray-300 text-gray-600">
              <tr>
                <th class="text-[14px] md:text-[16px] p-2">Trabajo Práctico</th>
                <th class="text-[14px] md:text-[16px] p-2">Estado</th>
              </tr>
            </thead>
            <tbody>
              <template x-for="markedActivity in courseMarkedActivities">
                <tr
                  class="border-t border-gray-400"
                  x-data="{activity: undefined}"
                  x-effect="activity = $store.marks.markedActivities.find(act => act.id === markedActivity.id)"
                >
                  <td class="text-[14px] md:text-[16px] p-2">
                    <span x-text="markedActivity.name"></span>
                  </td>
                  <td class="p-2">
                    <RecoveredChip recovered="activity && activity.madeUp">
                      <div
                        class="rounded-full flex justify-center items-center px-2 py-1 gap-x-2 text-[16px] border"
                        x-bind:class="{
                      'bg-sh-light-yellow border-sh-medium-yellow  text-sh-yellow': activity && activity.inRevision,
                      'bg-sh-light-green border-sh-medium-green text-sh-green': activity && activity.mark >= 6 && !activity.inRevision,
                      'bg-sh-light-red border-sh-medium-red text-sh-red': activity && activity.mark < 6 && !activity.inRevision,
                      'bg-sh-light-blue border-sh-medium-blue text-sh-blue': !activity && markedActivity.optional,
                      'bg-sh-light-purple border-sh-purple text-gray-600': !activity && markedActivity.inProgress,
                      'bg-gray-200 border-gray-400 text-gray-600': !activity && !markedActivity.inProgress
                    }"
                      >
                        <template x-if="activity && !activity.inRevision">
                          <span
                            class="text-[14px] md:text-[16px]"
                            x-text="activity.mark"></span>
                        </template>
                        <template
                          x-if="activity && activity.inRevision || !activity && markedActivity.inProgress"
                        >
                          <span
                            class="material-symbols-outlined text-[16px]! md:text-[20px]!"
                            x-text="'more_horiz'"></span>
                        </template>
                        <span
                          class="text-[14px] md:text-[16px] text-center md:text-left"
                          x-text="(()=>{
                          if(!activity && markedActivity.inProgress){
                            return 'En Progreso'
                          }
                          if(!activity && markedActivity.optional){
                            return 'Opcional'
                          }
                          if(!activity && !markedActivity.inProgress){
                            return 'Sin Calificar'
                          }
                          if(activity && activity.inRevision){
                            return 'En Revisión'
                          }
                          if(activity && activity.comment) {
                            return activity.comment;
                          } else if(activity && activity.mark >= 6){
                            return 'Aprobada'
                          } else {
                            return 'En Proceso'
                          }
                        })()"
                        >
                        </span>
                      </div>
                    </RecoveredChip>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-y-2 py-4 border-t-2 border-gray-300">
      <h2 class="text-[20px] md:text-[24px] font-semibold">
        Actividades de clase
      </h2>
      <p class="text-[14px] md:text-[16px] text-gray-600">
        Todos las actividades/trabajos prácticos que se hacen a modo de práctica
        en clase. No reciben una calificación numérica, pero se consideran
        hechas si cumplen con lo mínimo esperado para dicha clase.
      </p>
      <div class="flex justify-center">
        <div
          class="border-gray-400 border-2 w-full max-w-full md:w-4/5 md:min-w-80 md:max-w-4xl rounded-xl overflow-hidden"
          x-data="{courseActivities: []}"
          x-effect="courseActivities = $store.course.activities.filter(act => act.type === 'Actividad' && !$store.marks.specialActivitiesIds.includes(act.id))"
          x-show="courseActivities.length > 0"
        >
          <table class="border-collapse w-full">
            <thead class="bg-gray-300 text-gray-600">
              <tr>
                <th class="text-[14px] md:text-[16px] p-2">Actividad</th>
                <th class="text-[14px] md:text-[16px] p-2">Estado</th>
              </tr>
            </thead>
            <tbody>
              <template x-for="courseActivity in courseActivities">
                <tr
                  class="border-t border-gray-400"
                  x-data="{activity: $store.marks.classActivities.find(act => act.id === courseActivity.id)}"
                >
                  <td class="text-[14px] md:text-[16px] p-2">
                    <span x-text="courseActivity.name"></span>
                  </td>
                  <td class="p-2">
                    <RecoveredChip recovered="activity && activity.madeUp">
                      <div
                        class="rounded-full flex justify-center items-center px-2 py-1 gap-x-2 border"
                        x-bind:class="{
                      'bg-sh-light-yellow border-sh-medium-yellow text-sh-yellow': activity && activity.inRevision,
                      'bg-sh-light-green border-sh-medium-green text-sh-green': activity && activity.done && !activity.inRevision,
                      'bg-sh-light-red border-sh-medium-red text-sh-red': activity && !activity.done && !activity.inRevision,
                      'bg-sh-light-purple border-sh-purple text-gray-600': !activity && courseActivity.inProgress,
                      'bg-sh-light-blue border-sh-medium-blue text-sh-blue': !activity && courseActivity.optional,
                      'bg-gray-200 border-gray-400 text-gray-600': !activity && !courseActivity.inProgress
                    }"
                      >
                        <template
                          x-if="activity || !activity && courseActivity.inProgress"
                        >
                          <span
                            class="material-symbols-outlined text-[16px]! md:text-[20px]!"
                            x-text="(activity && activity.inRevision || !activity && courseActivity.inProgress ) ? 'more_horiz' : (activity.done ? 'check' : 'close')"
                          ></span>
                        </template>
                        <span
                          class="text-[14px] md:text-[16px] text-center md:text-left"
                          x-text="(()=>{
                          if(!activity && courseActivity.inProgress){
                            return 'En Progreso'
                          }
                            else if(!activity && !courseActivity.inProgress && !courseActivity.optional){
                            return 'Sin Calificar'
                          }
                          else if(!activity && courseActivity.optional){
                            return 'Opcional'
                          }
                          else if(activity && activity.inRevision){
                            return 'En Revisión'
                          }
                          else if(activity && activity.comment) {
                            return activity.comment;
                          } else if(activity && activity.done){
                            return 'Hecha'
                          } else {
                            return 'Pendiente'
                          }
                        })()"
                        >
                        </span>
                      </div>
                    </RecoveredChip>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-y-2 py-4 border-t-2 border-gray-300">
      <h2 class="text-[20px] md:text-[24px] font-semibold">Notas históricas</h2>
      <p class="text-[14px] md:text-[16px] text-gray-600">
        La siguientes notas reflejan el estado de la materia durante el período
        en cuestión. Obviamente, se pueden hacer reentregas y recuperatorios
        para mejorar dicha nota.
      </p>
      <FixedMarks />
    </div>
  </SectionLayout>
</template>
