---
import SectionLayout from "../SectionLayout.astro";
import FixedMarks from "./sections/FixedMarks.astro";
import Summary from "./summary/Summary.astro";
import RecoveredChip from "./misc/RecoveredChip.astro";
import Redos from "./sections/Redos.astro";
import CompulsoryActivities from "./sections/CompulsoryActivities.astro";
import MarkedActivities from "./sections/MarkedActivities.astro";
import ClassActivities from "./sections/ClassActivities.astro";
import AverageMark from "./summary/AverageMark.astro";

interface Props {
  subject: string;
  position: number;
}

const { position, subject } = Astro.props;
---

<script>
  import studentMarkStore from "../../../scripts/alpine/stores/marks";
  import markSummaryData from "../../../scripts/alpine/data/marks/markSummary";
  import fixedMarksData from "../../../scripts/alpine/data/marks/fixedMarks";
  import redosMarkData from "../../../scripts/alpine/data/marks/redos";

  document.addEventListener("alpine:init", () => {
    Alpine.store("marks", studentMarkStore());
    Alpine.data("markSummary", markSummaryData);
    Alpine.data("redoMarkData", redosMarkData);
    Alpine.data("fixedMarks", fixedMarksData);
  });
</script>
<template
  x-if="!$store.marks.loading"
  x-effect=`if($store.student.id){$store.marks.start('${subject}',$store.student.name,$store.student.surname,$store.student.course,$store.student.id)}`
>
  <SectionLayout name="nota" position={position}>
    <h1 class="text-[36px] font-bold text-center p-4">Nota</h1>
    <Summary subject={subject} />
    <AverageMark />
    <Redos subject={subject} />
    <CompulsoryActivities />
    <MarkedActivities />
    <ClassActivities />
    <div class="flex flex-col gap-y-2 py-4 border-t-2 border-gray-300">
      <h2 class="text-[20px] md:text-[24px] font-semibold">Notas históricas</h2>
      <p class="text-[14px] md:text-[16px] text-gray-600">
        La siguientes notas reflejan el estado de la materia durante el período
        en cuestión. Obviamente, se pueden hacer reentregas y recuperatorios
        para mejorar dicha nota.
      </p>
      <FixedMarks />
    </div>
  </SectionLayout>
</template>
